.video-container {
position: relative;
padding-bottom: 56.25%;
padding-top: 30px; height: 0; overflow: hidden;
}
 
.video-container iframe,
.video-container object,
.video-container embed {
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
}
.tooltip {
    position: relative;
    display: inline-block;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 60px;
    bottom: 100%;
    left: 50%; 
    margin-left: -30px;
    background-color: black;
    font-size: 90%;
    color: #ffffff;
    text-align: center;
    border-radius: 2px;
    padding: 1px 0;

    /* Position the tooltip */
    position: absolute;
    z-index: 1;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
}
.tooltip .tooltiptext::after {
    content: " ";
    position: absolute;
    top: 100%; /* At the bottom of the tooltip */
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: black transparent transparent transparent;
}
<style>
/* Style The Dropdown Button */
.dropbtn {
    background-color: transparent;
    color: transparent;
    padding: 0px;
    font-size: 0px;
    border: transparent;
    cursor: pointer;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: white;
    min-width:180px;
    max-width: 500px;
    margin: auto;
    border-style: solid;
    border-width: 2px;
    border-color:#bfbfbf;
    font-size: 90%;
    padding-left:5px;
    box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.08);
    z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    font-size: 90%;
    padding: 3px 3px;
    text-decoration: none;
    display: inline-block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #f2f2f2}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
    background-color: #3e8e41;
}
.tablepositioning{
position: relative;
top: 65px; left: 65px;
}
