.header-primary{font-size:1.8em;
padding-left: 20px;
padding-top:10px;
padding-bottom:20px;
}

.header-span-highlight{font-weight:600;
}

.header-link-box{
    padding-left: 15px;
    padding-top:6px;
}
.header-links{
    transform: uppercase;
    color:#3B73AF;

}

.header-secondary{
font-weight:600;
font-size:1.4em;
padding-left: 10px;
padding-bottom:10px;
}
.blanktext{
    font-style:italic;
    font-size:2;
}

.pseudo-button-secondary{
    font-style:italic;
    font-size:2;
    margin:2px;
    cursor: pointer;
}
.tooltip {
    position: relative;
    display: inline-block;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 60px;
    bottom: 100%;
    left: 50%; 
    margin-left: -30px;
    background-color: black;
    color: #ffffff;
    text-align: center;
    border-radius: 2px;
    padding: 1px 0;

    /* Position the tooltip */
    position: absolute;
    z-index: 1;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
}
.tooltip .tooltiptext::after {
    content: " ";
    position: absolute;
    top: 100%; /* At the bottom of the tooltip */
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: black transparent transparent transparent;
}
