/* hide footer in table */ .hidetablefooter .nx-list-footer {	display:none; }
.titletextstyle{
    font-size:16px;
    font-weight:bold;
}
.headertextstyle{
    font-size:18px;
    font-weight:bold;
}
.notificationtext{
    color:red
    font-weight:bold;
}
