<style>
/* Style The Dropdown Button */
.dropbtn {
    background-color: transparent;
    color: transparent;
    padding: 0px;
    font-size: 0px;
    border: transparent;
    cursor: pointer;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: white;
    min-width:180px;
    max-width: 500px;
    margin: auto;
    border-style: solid;
    border-width: 2px;
    border-color:#bfbfbf;
    font-size: 90%;
    padding-left:5px;
    box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.08);
    z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    font-size: 90%;
    padding: 3px 3px;
    text-decoration: none;
    display: inline-block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #f2f2f2}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
    background-color: #3e8e41;
}
.notificationtext{
    font-size:1.5em;
    color:red;
    text-align:center;
    font-weight:bold;
    margin:15px;
}
.labelheader{
    font-size:1.5em;
    text-align:left;
    font-weight:bold;
    margin:15px;
}
