.imageframe{
width:100%;
height:310px;
margin: auto;
display:inline-block;
vertical-align:middle;
overflow:hidden;
transition: transform 1s;

}

.imageframe:hover{
    width:auto;
    height:auto;
    overflow:visible;
}

.imgdetail{
    overflow:hidden;
    max-width:300px;
    width:300px;
    height:300px;
    margin:auto;
    clip:auto;
    transition: transform 1s
    
}

.imgdetail:hover{
    overflow:visible;
    box-shadow: 20px 20px 50px 15px grey;
    margin-left:15px;
    height:auto;
    width:auto;
    max-width:400px;
    max-height:400px;
    transform:scale(1.5);
    margin-left:30px;
    margin-right:30px;
    position:fixed;
    border:1px solid black;
}

.imagetext{
    max-width:300px;
    
}
