@media all {
.page-break { display: none; }
}

@media print {
.page-break { display: block; page-break-before: always; }
}
.image {
    position:relative;
    float:right; 
}
.image .text {
    position:absolute;
    Bottom:10px; 
    right:5px;
    width:75px; 
}
@media screen {
  div.divFooter {
    display: none;
  }
}
@media print {
  div.divFooter {
    position: fixed;
    bottom: 0;
  }
}
