.subheader{
    font-size:1.2em;
    margin:5px;
}
.placeholdertext{
    font-size:1.1em;
    font-style:italic;
    text-align:center;
    margin:20px;
}

.blanktext{
    font-style:italic;
    font-size:2;
}

.linktext{
    margin:5px;
    margin-left:10px;
}
