/* hide footer in table */
.hidetablefooter .nx-list-footer {	
    display:none;
}
.hidesearchbutton .nx-field-reference-search{	
    display:none;
	}
select{height: 28.63px;
       width:85.31px;
	}
.hasdatepicker{
    font-size:1em;
}
