#skuidEditBtn {
  background-color: #666;
  color: #fff;
  border-radius: 5px;
  border: 2px solid #fff;
  padding: 7px 25px 7px 6px;
  cursor: pointer;
  -webkit-box-shadow: 0 2px 10px rgba(100,100,100,.4);
  -moz-box-shadow: 0 2px 10px rgba(100,100,100,.4);
  width: 75px;
  display: none;
}

@media print 
{
  @page { margin: 0; }
  body  { margin: 1.6cm; }
}
/* hide footer in table */
.hidetablefooter .nx-list-footer {	
    display:none;
}
.image {
    position:relative;
    float:right; 

}
.image .text {
    position:absolute;
    font-size: 75%;
    color: red;
    Bottom:5px; 
    right:7px;
    width:75px; 
}
.responsive-field-editor .nx-item {    display: inline-block;
margin-bottom:-10px;
margin-top:-10px;
}
@media all {
.page-break { display: none; }
}

@media print {
.page-break { display: block; page-break-before: always; }
  nav, aside, footer {
  display: none;
  }
}
@page{
    margin-top:1cm;
    margin-right:0;
    padding-right:0;
    margin-bottom:.5cm;
    width:8.5in;
    height: 11in;
}
.nx-editor input[type=checkbox] {

display: none;

}
