<apex:component id="headerComponent">
  <apex:panelGrid cellpadding="0" cellspacing="0" width="98%" border="0" columns="2" style="text-align: left;" id="theHeader">
    <apex:image url="https://c.na2.content.force.com/servlet/servlet.ImageServer?id=015400000014zpb&oid=00D4000000091n1" style="align: left;" alt="Salesforce" width="175" title="Salesforce"/>
    <apex:panelGrid cellpadding="0" cellspacing="0" width="100%" border="0" columns="1" style="text-align: right;" id="Links">
	  <apex:panelGroup rendered="{!AND(ISPICKVAL($User.UserType,'Guest'), $Site.LoginEnabled)}">
		<apex:outputLink value="{!$Page.SiteLogin}">{!$Label.site.login_button}</apex:outputLink>
		<apex:outputText value=" | "/>
		<apex:outputLink value="{!$Page.ForgotPassword}">{!$Label.site.forgot_your_password_q}</apex:outputLink>
		<apex:outputText value=" | " rendered="{!$Site.RegistrationEnabled}"/>
		<apex:outputLink value="{!$Page.SiteRegister}" rendered="{!$Site.RegistrationEnabled}">{!$Label.site.new_user_q}</apex:outputLink>
	  </apex:panelGroup>
	  <apex:outputLink value="{!$Site.Prefix}/secur/logout.jsp" rendered="{!NOT(ISPICKVAL($User.UserType,'Guest'))}">{!$Label.site.logout}</apex:outputLink>
    </apex:panelGrid>
  </apex:panelGrid>
</apex:component>