/* hide footer in table */
.hidetablefooter .nx-list-footer {	
    display:none;
}
.hidesearchbutton .nx-field-reference-search{	
    display:none;
	}
select{height: 28.63px;
       width:85.31px;
	}
.hasdatepicker{
    font-size:1em;
}
table2, td2, th2 {
    border: 1px solid black;
    width:12.5%;
    text-align: left
}

table2 {
    border-collapse: collapse;
    width:100%;
}
