figure{
  display:inline-table;
  margin: .5em;
}
figcaption{
  display:table-caption;
  caption-side:bottom;
  font-size: x-small;
}

/* Make Header Sticky */
#header_container { background:#eee; border:1px solid #666; height:100px; left:0; position:fixed; width:100%; top:0;  }
#header{position: absolute; width:100%; text-align:left; height:100px;  display: table-cell; vertical-align: bottom;}
#container { margin:0 auto; overflow:auto; padding:100px 0; width:100%; }