#skuidEditBtn {
  background-color: #666;
  color: #fff;
  border-radius: 5px;
  border: 2px solid #fff;
  padding: 7px 25px 7px 6px;
  cursor: pointer;
  -webkit-box-shadow: 0 2px 10px rgba(100,100,100,.4);
  -moz-box-shadow: 0 2px 10px rgba(100,100,100,.4);
  width: 75px;
  display: none;
}

@media print 
{
  @page { margin: 0; }
  body  { margin: 1.6cm; }
}
/* hide footer in table */
.hidetablefooter .nx-list-footer {	
    display:none;
}
