@media screen {
  div.divheader {
    display: none;
  }
}
@media print {
  div.divheader {
    position: fixed;
    top:0;
    
  }
}
.headerstyle1{
    font-size:2em;
    font-weight:700;
    margin-bottom:.5em;
    margin-top:5px;
    margin-left:5px;
    float:right;
    width:48%;
    
}
.headerstyle2{
    font-size:1.2em;
    line-height:1.6em;
    margin-left:5px;
}
.headerimage{
    width:150px;
    float:left;
    vertical-align: text-top
}
.subheadersectiontitle{
    font-weight:600;
}
.four-columns-header{
    font-family: Helvetica, sans-serif;
    font-weight:600;
    width: 16%;
    display: inline-block;
    font-size:1.2em;
    line-height:1.8em;

}
.four-columns{
    font-family: Helvetica, sans-serif;
    width: 32%;
    display: inline-block;
    font-size:1.2em;
    text-align:justify;
    line-height:1.8em;
}

.two-columns-header{
    font-family: Helvetica, sans-serif;
    font-weight:600;
    width: 16%;
    display: inline-block;
    font-size:1.2em;
    line-height:1.8em;

}
.two-columns{
    font-family: Helvetica, sans-serif;
    display: inline-block;
    font-size:1.2em;
    text-align:justify;
    line-height:1.8em;
}
