@media print {
.wintform html, body {
     width: 210mm;
    height: 297mm;   
    margin:auto;
    page-break-after: always;
        }
.wintformsection{
    font-size:0.8em;
}

    
}

@page {
        size: A4;
        margin: 1em;
    }
    

.header { font-size:1.5em; font-weight:bold; text-align:center; margin:1.5em; } .nx-field { font-size:1em; }

.formsection{
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.nx-editor-contents input[type='radio'] {
    width:1em;
    height:1em;
    border-radius:1px 1px 1px 1px;
    margin:8px 6px 6px;
}

.nx-editor-contents input[type='checkbox'] {
    width:1em;
    height:1em;
    border-radius:1px 1px 1px 1px;
}

.nx-field-editor input{
    font-size:1em;
}

.nx-field-editor select{
    font-size:1em;
}

.wintform{
    font-size:10px;
    color:black;
    font-style:normal;
}

.warningtext{
    text-align:center;
    margin:1.5em;
    font-weight:bold;
}
