@media all {
.page-break { display: none; }
}

@media print {
.page-break { display: block; page-break-before: always; }
}
.image {
    position:relative;
    float:right; 
}
.image .text {
    position:absolute;
    Bottom:10px; 
    right:5px;
    width:75px; 
}
@media screen {
  div.divFooter {
    display: none;
  }
}
@media print {
  div.divFooter {
    position: fixed;
    bottom: 0;
  }
}
.displaystyle1 .nx-template{
    position:relative;
    float:left;
    page-break-inside: avoid;
    width:50%;

}
.image {
    margin:auto;
    position:relative;
    page-break-inside: avoid;
    width:306px;


}
.image .text {
    position:absolute;
    font-size: 95%;
    font-weight:700;
    color: red;
    Bottom:5px; 
    right:3px;
    width:75px; 
}
@media screen { div.divheader { display: none; } } @media print { div.divheader { position: fixed; top:0; } }
