.textboxWidth{
	width: 70px;
}
fieldset
{
	margin: 0 5px;
	height: 100%;
}
.inner 
{
	display: table;
	height:100px;
	width:100%;
}
.inner p 
{
	display: table-cell;
	vertical-align: middle;
	text-align: center;
}
#work_order_div 
{
	max-height:650px;
	overflow-y:auto;
}
.red_error 
{
	background-color: #FF0000;
}
.req 
{
	border-right: 1px solid #FF0000;
}
.highlighted .white
{
	background-color: #DEF4FF;
}
.highlighted .yellow
{
	background-color: #F6FC83;
}
.highlighted .red 
{
	background-color: #FFBFBF;
}
.highlighted .green 
{
	background-color: #91FF8B;
}
.hideme
{
	visibility:hidden;
}
.white 
{
	background-color: #FFFFFF;
}
.yellow 
{
	background-color: #FDFFCF;
}
.red 
{
	background-color: #FFE6E6;
}
.green 
{
	background-color: #DEFFDC;
}
a.info 
{
	color: #6EA6D1;
	font-weight: bold;
	text-decoration: underline;
}
a.info_p 
{
	color: #6EA6D1;
	font-weight: normal;
	text-decoration: underline;
}
a.info_r 
{
	color: #D90909;
	font-weight: bold;
	text-decoration: underline;
}
.customControl 
{
	background-color: #FFF;
}
.sideIconBig 
{
	-moz-border-radius: 20px;
	-webkit-border-radius: 20px;
	-khtml-border-radius: 20px;
	border-radius: 20px;
	margin-left: 5px;
}
.sideIconSmall 
{
	-moz-border-radius: 20px;
	-webkit-border-radius: 20px;
	-khtml-border-radius: 20px;
	border-radius: 20px;
	width: 20px;
	text-align: center;
}
.directionsHeading 
{
	border-top: 1px solid #000000;
	border-bottom: 1px solid #000000;
	background-color: #FFFFFF;
}
.bPageFooter 
{
	display: none;
}
#framecontent 
{
	height: 350px;
	overflow-y: auto;
}
#map_overlay_buttons 
{
	margin-left: 90px;
	margin-top: 10px;
	position: absolute;
	z-index: 2;
}
#selected_marker_opts 
{
	float: left;
	display:none; 
}
#special_opts 
{
	float: left;
	display:none;   
}
.selectBox
{
	border: 1px solid #000000;
	display:none;
	background-color: #FFFFFF;
	list-style-type: none;
	margin: 0;
	padding: 3px;
	position: absolute;
	width: 120px;
}
.selectBox li 
{
	padding-top:5px;
}
#stop_location_msg 
{
	position: absolute;
	bottom: 0px;
	right: 0px;
	width: 300px;
}
#route_stops, #route_miles, #route_hours 
{
	display: none;
}
.lbl 
{
	display: inline-block;
	width: 5em;
	text-align: right;
	font-weight: bold;
	padding-right: 0.5em;
}