.mapContainer{
    height: 250px;
    width: 400px;
    margin-bottom: 80px;
    vertical-align: top;
    text-align: center;    
}
.mapCaption{
    width: 390px;
    margin-top: -5px;
    padding: 5px;
    line-height: 170%;
    background-color: #000;
    opacity: 0.7;
    font-size: 11px;
    color: #fff;
}
.mapCaption a{
    color: #fff;
}
.mapbutton{
    font-size:80%;
}
.hidetablefooter{
    font-size: 90%
}

/* hide footer in table */ .hidetablefooter .nx-list-footer {	display:none;
}
.nx-field input,.nx-field textarea,.nx-field .flex-text-wrap pre,.nx-field .nx-richtext-input {    min-height:1em;   }
.subheader{
    margin-left:5px;
    font-size:1.1em;
    font-weight:bold;
}
