.linkbar {
    text-transform: Uppercase;
    color:#3B73AF;
    cursor: pointer;
}

.linkbar-container{
    margin-left: 15px;
    margin-top:10px;
}

.header1{
    font-size:22px;
}

.header1-container{
    margin-top:22px;
    margin-left:20px;
}

.header2{
    font-size: 18px;
}

.header2-container {
    margin-top:6px;
    margin-bottom:18px;
}

.header3{
    font-size: 16px;
}

.header3-container {
    margin-top:4px;
    margin-bottom:16px;
}

.header4{
    font-size: 14px;
}

.header4-container {
    margin-top:3px;
    margin-bottom:14px;
}


.blankfield {
    font-style:italic;
}
