/* hide footer in table */
.hidetablefooter .nx-list-footer {	
    display:none;
}
.hidesearchbutton .nx-field-reference-search{	
    display:none;
	}
select{height: 28.63px;
       width:85.31px;
	}
.hasdatepicker{
    font-size:1em;
}
table.table1,table.table1 td,table.table1 th {    
    border: 1px solid #ddd;
    text-align: left;
    
}

table.table1 {
    border-collapse: collapse;
}

table.table1 th,table.table1 td {
    width:200px
}
