<apex:page standardController="Client_Bid__c" sidebar="false" readOnly="true">
<apex:includeScript value="{!URLFOR($Resource.BlockUI, 'jquery.min.js')}"/>
<script src="/soap/ajax/30.0/connection.js" type="text/javascript"/> 
<script>
sforce.connection.sessionId = '{!$Api.Session_ID}';

function approveAll(){
    var userResponse = confirm("Please confirm: Approve ALL bid items? This will approve bids that are denied or on-hold.");
        var reload = true;
    $('.approve').each(function(index,val){
        var id = $(val).attr('sfid');

        if(!setStatus(id,'Closed - Approved')){
            reload = false;
        }
        
    }
    );
    
        if(reload){
                  try{
           window.top.location.reload(true);
        }catch(e){
            window.location.reload(true);            
        }}
}
function denyAll(){
    var userResponse = confirm("Please confirm: Deny ALL bid items? This will deny bids that are approved or on-hold.");
    $('.deny').each(function(index,val){
        var id = $(val).attr('sfid');
        var reload = true;
        if(!setStatus(id,'Closed - Denied')){
            reload = false;
        }

        }
    
    );
    
        if(reload){
                  try{
           window.top.location.reload(true);
        }catch(e){
            window.location.reload(true);            
        }
        }
}
function approve(id){
var userResponse = confirm("Please confirm: Approve this bid item?");


if (userResponse == true)
{
    if(setStatus(id,'Closed - Approved')){
               try{
           window.top.location.reload(true);
        }catch(e){
            window.location.reload(true);            
        }
    }
}
}
//-------------------------------------------------------------------------
function deny(id){
var userResponse = confirm("Please confirm: Deny this bid item?");

if (userResponse == true)
{
    if(setStatus(id,'Closed - Denied')){
        try{
           window.top.location.reload(true);
        }catch(e){
            window.location.reload(true);            
        }
    }
}
}
function setStatus(id,status){
    var bidObj = new sforce.SObject("Bid_Items__c");
    bidObj.Id = id;
    bidObj.Status__c = status;
    var result = sforce.connection.update([bidObj]);
    
    if (result[0].success=='false') 
    {
    alert(result[0].errors.message+"  "+id);
        return false;
    }else{
        return true;
    } 

}
//----------------------------------------------------------------
function hold(id){
var userResponse = confirm("Please confirm: Hold this bid item?");

if (userResponse == true)
{
var bidObj = new sforce.SObject("Bid_Items__c");
bidObj.Id = id;
bidObj.Status__c = 'Open - On Hold (By Client)';
var result = sforce.connection.update([bidObj]);

if (result[0].success=='false') 
{
alert(result[0].errors.message+"  "+id);
} 
else 
{
        try{
           window.top.location.reload(true);
        }catch(e){
            window.location.reload(true);            
        }
}
}
}
</script>
  <style>
  body.brandQuaternaryBgr{
  background:transparent!important;
  }
  </style>
  <c:PageBlockTableEnhancer targetPbTableIds="mid" paginate="true" defaultPageSize="5" pageSizeOptions="10,25,50,100,200"/>

  <apex:form id="frm">

        <apex:pageBlock title="Bid Items">

<apex:pageBlockButtons >
<button onClick="approveAll();">Approve All Items</button>
<!--<button onClick="denyAll();">Deny All Items</button>-->
</apex:pageBlockButtons>

            <apex:pageBlockTable value="{!Client_Bid__c.Bid_Items__r}" var="item" id="mid"  title="">


                <apex:column styleClass="actionColumn" headerValue="Action" style="width:80px" >
<apex:outputPanel rendered="{!item.Status__c<>'Closed - Approved'}">
                    <a class="actionLink approve" sfid="{!item.Id}" style="cursor:pointer;" href="" target="_none" onclick="approve('{!item.Id}');">Approve</a></apex:outputPanel> 
<apex:outputPanel rendered="{!item.Status__c<>'Closed - Denied' && item.Status__c<>'Closed - Approved'}">
                                    |
</apex:outputPanel>
<apex:outputPanel rendered="{!item.Status__c<>'Closed - Denied'}">
                    <a class="actionLink deny" sfid="{!item.Id}" style="cursor:pointer;" href="" target="_none" onclick="deny('{!item.Id}');">Deny</a></apex:outputPanel>
                    <apex:outputPanel rendered="{!item.Status__c<>'Open - On Hold (By Client)' && item.Status__c<>'Open - On Hold (By Northsight)'}">
                                    |
                    </apex:outputPanel>
                    <apex:outputPanel rendered="{!item.Status__c<>'Open - On Hold (By Client)' && item.Status__c<>'Open - On Hold (By Northsight)'}">
                    <a class="actionLink" style="cursor:pointer;" href="" target="_none" onclick="hold('{!item.Id}');">Hold</a></apex:outputPanel>
                </apex:column>

                                <apex:column headerValue="Category" style="min-width:50px;max-width:100px;">
                <apex:outputField value="{!item.Category__c}" />
                </apex:column>
                                <apex:column headerValue="Description" style="min-width:80px;max-width:200px;">
                <apex:outputField value="{!item.Description__c}" />
                </apex:column>
                                <apex:column headerValue="Qty" style="width:25px;text-align:center;">
                <apex:outputField value="{!item.Quantity__c}" />
                </apex:column>
                                <apex:column headerValue="Unit" style="width:25px;text-align:center;">
                <apex:outputField value="{!item.Unit__c}" />
                </apex:column>
                                <apex:column headerValue="Unit Price" style="width:50px;padding-right:15px;text-align:center;">
                <apex:outputField value="{!item.Unit_Price__c}" />
                </apex:column>
  
                                <apex:column headerValue="Total Price" style="width:50px;padding-right:15px;text-align:center;">
                <apex:outputField value="{!item.Total_Price__c}" />
                </apex:column>

    
                                <apex:column headerValue="Comments & Remarks"  style="min-width:100px;max-width:220px;">
                <apex:outputField value="{!item.Comments_Remarks__c}" />
                </apex:column>

   
                                <apex:column headerValue="Status" style="width:170px;">
                <apex:outputField value="{!item.Status__c}" />
                </apex:column>

     
                                <apex:column headerValue="Approved/Denied Date" style="width:120px;">
                <apex:outputField value="{!item.Approved_Denied_Date__c}" />
                </apex:column>
                
                                 <apex:column headerValue="Approved/Denied By" style="width:100px;">
                <apex:outputField value="{!item.Approved_Denied_By__c}" />
                </apex:column>
  
            </apex:pageBlockTable>
        </apex:pageBlock>
    </apex:form>
</apex:page>