<apex:page standardController="Case" extensions="geocodeController" showHeader="true">

<apex:includeScript value="{!URLFOR($Resource.jquery, 'js/jquery-1.8.2.js')}"/>
<apex:includeScript value="{!URLFOR($Resource.jquery, 'js/jquery-ui-1.9.1.custom.min.js')}"/>
<apex:stylesheet value="{!URLFOR($Resource.jquery, 'css/redmond/jquery-ui-1.9.1.custom.min.css')}"/>
<apex:includeScript value="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false"/>

<style>
.inlineLabel{
	display:inline-block;
}
.fixedWidth50{
	width:50px;
}
.fixedWidth75{
	width:50px;
}
#geocodeStatusContainer{
    height:25px;
}
.flag{
    color:#aa0000;
    font-weight:bold;
}
.evenRow{
 background-color:#eeeeee;
}
.WOTable{
 background-color:#ffffff;
}
#QTable > tbody > tr:hover{
 background-color:#ddddff;
}

#QTable {
    border-collapse: separate;
    border-spacing: 2px;
    border-color: gray;
}

#QTable th {
    background: #F2F3F3;
}

#map_container {
    height: 420px;
    width: 100%;
}

#map_div {
    width:90%;
    height:90%;
    margin:0;
    background-color: green;
}

div#spinner
{
    display: none;
    width:100px;
    height: 100px;
    position: fixed;
    top: 50%;
    left: 50%;
    background:url({!URLFOR($Resource.TSP, 'loading.gif')}) no-repeat center #fff;
    text-align:center;
    padding:10px;
    font:normal 16px Tahoma, Geneva, sans-serif;
    border:1px solid #666;
    margin-left: -50px;
    margin-top: -50px;
    z-index:2;
    overflow: auto;
}

.inner {
    display: table;
    height:100px;
    width:100%;
}

.inner p {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}

</style>

<script type="text/javascript">
 // Map variables
 var map;
 var marker;
 var greenStatus = new Array("street_address","premise","subpremise");
 jQuery.noConflict();

function doSaveAndRelease(){
              updateWO(jQuery('#context_lat').val(), jQuery('#context_lng').val(), jQuery('#context_street').val(),jQuery('#context_city').val(),jQuery('#context_state').val(),jQuery('#context_zip').val(),jQuery('#context_notes').val());
			  showProgress();
          }
 
 jQuery(document).ready(
 function(){
    jQuery("#QTable > tbody > tr:nth-child(even)").addClass("evenRow");
     jQuery('#cancel').bind("click",function() {
              opener.location.reload(); // or opener.location.href = opener.location.href;
  			  window.close(); 			  
          });
     	 init_map();
         setTimeout(function() { 
            google.maps.event.trigger(map, 'resize'); 
            if(typeof marker != 'undefined') {
                map.setZoom(15);
                map.setCenter(marker.getPosition());
            }
        }, 500);
 
  geocodeAddress()
 } 
 );
 
   
    


 

function init_map() {
     var mapOptions = {
            zoom: 8,
            center: new google.maps.LatLng(-34.397, 150.644),
            mapTypeId: google.maps.MapTypeId.ROADMAP
          };
      map = new google.maps.Map(document.getElementById('map_div'), mapOptions);
}

 
function edit_quarantine(id, street,city,state,zip, lat, lng, notes) {
    jQuery('#geocodeStatus').html('&nbsp;');
    jQuery('#geocodeStatusIcon').html('&nbsp;');
    if(lat==0) {
        lat = 38.898748;
        lng = -77.037684;
    }
    
    // Set the context info
    jQuery('#context_street').val(street);
    jQuery('#context_city').val(city);
    jQuery('#context_state').val(state);
    jQuery('#context_zip').val(zip);
    jQuery('#context_lat').val(lat);
    jQuery('#context_lng').val(lng);
    jQuery('#context_notes').val(notes);
    drawMarker(lat, lng);
    
    jQuery('#dialog_edit').dialog('open');
}
function getStatusIcon(types){
for(var i=0;i<types.length;i++){
                    if(jQuery.inArray(types[i],greenStatus)){
                        return "<img style='vertical-align:middle;' src='/servlet/servlet.FileDownload?file=01540000000aRgp'/>";                    
                    }
    }
    return "<img style='vertical-align:middle;' src='/servlet/servlet.FileDownload?file=01540000000aRgu'/>";
    
}
function geocodeAddress() {
    geocoder = new google.maps.Geocoder();
    geocoder.geocode({ address: jQuery('#context_street').val()+', '+jQuery('#context_city').val()+', '+jQuery('#context_state').val()+jQuery('#context_zip').val() }, function(results, status) {
        console.log(results);
            if (status == google.maps.GeocoderStatus.OK) {
                jQuery('#geocodeStatus').html('Response Type:'+results[0].types.join(','));
                jQuery('#geocodeStatusIcon').html(getStatusIcon(results[0].types));
                //update the visuals
                jQuery('#context_lat').val(results[0].geometry.location.lat());
                jQuery('#context_lng').val(results[0].geometry.location.lng());
                
                drawMarker(results[0].geometry.location.lat(), results[0].geometry.location.lng());
                
                map.setCenter(marker.getPosition());
                
            } else {
                alert('Geocode failed with a status of: ' + status);
            }
    });
}

function drawMarker(lat, lng) {
        var latlng = new google.maps.LatLng(lat, lng);
        
        if(typeof marker == 'undefined') {
            marker = new google.maps.Marker({
                position: latlng,
                map: map,
                draggable: true
            });
        } else {
            marker.setPosition(latlng);
        }

        
        google.maps.event.addListener(marker, 'drag', function() {
            jQuery('#context_lat').val(marker.getPosition().lat()); 
            jQuery('#context_lng').val(marker.getPosition().lng());
        });
        
        google.maps.event.addListener(map, 'dblclick', function (event) {
            marker.setPosition(event.latLng);
            
            jQuery('#context_lat').val(marker.getPosition().lat());
            jQuery('#context_lng').val(marker.getPosition().lng());
        });
}

function updateLatLng() {
    marker.setPosition(new google.maps.LatLng(
                                                jQuery('#context_lat').val(),
                                                jQuery('#context_lng').val()
                                            ));
    map.setCenter(marker.getPosition());
}
 
function select_all(value) {
    var status;
    if(value) {
        status = 'checked';
    } else {
        status = false;
    }
    jQuery('.chk').attr('checked', status);
}

function keepSelectAllSynced() {
    var all = true;
    jQuery('.chk').each(function(k,v) { 
        if(!v.checked) {
            all = false;
        }
    });
    
    if(!all) {
        jQuery('#select_all_box').attr('checked', false);
    } else {
        jQuery('#select_all_box').attr('checked', 'checked');
    }
}

var counter = 0;
var idList;
function reGeocodeAll() {
    var temp;
    idList = new Array();
    jQuery('.chk').each(function(k,v) { 
        //console.log(v);
        if(v.checked) {
            temp = v.title.split(':');
            if(temp[0]!='OK') {
                idList.push(temp[1]);
            }
        }
    });
    
    if(idList.length==0) {
        alert('There are no items selected');
        return;
    }
    
    // reverse the array b/c we are going to process it backward
    //console.log(idList);
    //idList.reverse();
    //console.log(idList);
    
    
    showProgress();
    
    counter = 0;
    
    doGeocodeOps();
}


function doGeocodeOps() {
    if(counter>=idList.length) {
        hideProgress();
        return;
    }
    
    var max;
    if(counter+10 > idList.length) {
        max = idList.length;
    } else {
        max = counter+10;
    }
    var id_string = idList[counter];
    for(var x=counter+1;x<max;x++) {
        id_string = id_string + ':' + idList[x];
    }
    
    counter += 10;
    
    //console.log(id_string);
    apexGeocode(id_string); 
}

var spinnerVisible = false;
function showProgress() {
    if (!spinnerVisible) {
        jQuery("div#spinner").fadeIn("fast");
        spinnerVisible = true;
    }
};
function hideProgress() {
    if (spinnerVisible) {
        var spinner = jQuery("div#spinner");
        spinner.stop();
        spinner.fadeOut("fast");
        spinnerVisible = false;
    }
};

</script>
<apex:form >
<apex:pageBlock title="Geocode">

<apex:actionFunction name="updateWO" action="{!saveAndRelease}" rerender="errors">
    <apex:param name="lat" assignTo="{!param_lat}" value="" />
    <apex:param name="lng" assignTo="{!param_lng}" value="" />
    <apex:param name="street" assignTo="{!param_street}" value="" />
    <apex:param name="city" assignTo="{!param_city}" value="" />
    <apex:param name="state" assignTo="{!param_state}" value="" />
    <apex:param name="zip" assignTo="{!param_zip}" value="" />
    <apex:param name="notes" assignTo="{!param_notes}" value="" />
</apex:actionFunction>

<div id="spinner">
        <div class="inner"><p>Working...</p></div>
</div>
<apex:pageBlockButtons >
<input type="button" class="btn" value="Save & Release" onclick="doSaveAndRelease();"/>
<apex:commandButton action="{!cancel}" value="Cancel"/>

</apex:pageBlockButtons>

<apex:pageMessages showDetail="true" id="errors"/>

<apex:pageBlockSection title="Location Details" columns="1">
    <div id="dialog_edit" title="Edit Location">
        <input type="hidden" id="context_id" />
        <div>
            <div><span class="inlineLabel fixedWidth50">Street:</span><input type="text" id="context_street" value="{!param_street}" size="50"/><input type="button" value="Geocode Address" onclick="geocodeAddress()" class="btn"/></div>
            <div><span class="inlineLabel fixedWidth50">City: </span><input type="text" id="context_city" value="{!param_city}" size="30"/> 
            <span class="inlineLabel fixedWidth50">State: </span><input type="text" id="context_state" value="{!param_state}" size="2"/>
            <span class="inlineLabel fixedWidth50">Zip: </span><input type="text" id="context_zip" value="{!param_zip}" size="10"/></div>
            <hr/>
            <div>Double click a location, drag pin, or enter lat/lng values to edit</div>
            <div>
            <label>Latitude:</label><input type="text" id="context_lat" onchange="updateLatLng()" value="{!geo.location__latitude__s}"/> <label>Longitude:</label><input type="text" id="context_lng" value="{!geo.location__longitude__s}" onchange="updateLatLng()"/>
            <div style="vertical-align:top;">Recurring Notes: <textarea id="context_notes" cols="72" rows="3">{!param_notes}</textarea></div>
        </div>
        <div id="geocodeStatusContainer">
        <span id="geocodeStatus">&nbsp;</span><span id="geocodeStatusIcon">&nbsp;</span>
        </div>
        </div>
    </div>
    <div id="map_container"> 
                <div id="map_div"></div>
            </div>
</apex:pageBlockSection>
</apex:pageBlock>
</apex:form>
</apex:page>