<apex:page controller="VWMSubmitUpdate" showHeader="false" sidebar="false" action="{!validate}">
    <apex:includeScript value="{!URLFOR($Resource.jquery, 'js/jquery-1.8.2.js')}" />
    <apex:includeScript value="{!URLFOR($Resource.jquery, 'js/jquery-ui-1.9.1.custom.min.js')}" />
    <apex:includeScript value="{!URLFOR($Resource.jquery, 'js/jquery.printElement.min.js')}" />
    <apex:includeScript value="{!URLFOR($Resource.jquery, 'js/jquery.printElement.min.js')}" />
    
    <apex:stylesheet value="{!URLFOR($Resource.jquery, 'css/redmond/jquery-ui-1.9.1.custom.min.css')}" />
    <apex:stylesheet value="{!URLFOR($Resource.TSP, 'style.css')}" />
    
    <apex:form >
        <style type="text/css">
            div#spinner {
                display: none;
                width:100px;
                height: 100px;
                position: fixed;
                top: 50%;
                left: 50%;
                background:url({!URLFOR($Resource.TSP, 'loading.gif')}) no-repeat center #fff;
                text-align:center;
                padding:10px;
                font:normal 16px Tahoma, Geneva, sans-serif;
                border:1px solid #666;
                margin-left: -50px;
                margin-top: -50px;
                z-index:9999;
                overflow: auto;
            }
            #responseErrors{
                padding: 2px 4px;
                font-size: 14px;
                color: #c7254e;
                background-color: #f9f2f4;
                border-radius: 4px;
            }
            #messages{
                font-size: 14px;
                color: #fff;
                background-color: #428bca;
            }
        </style>
        
        <script type="text/javascript">
            var dataTransfer = 0;
            var countPhoto = 0;
            var totalPhotos = 0;
            var photoQueue = new Array();
            var endPoint = "https://vwmbridge.northsight.com";
            //var endPoint = "http://vwmbridge-env.elasticbeanstalk.com";
            
            jQuery.support.cors = true;
            function showProgress() {
                jQuery("div#spinner").fadeIn("fast");
            }
            
            function showErrors(message) {
                hideProgress();
                document.getElementById("responseErrors").innerHTML += message+"</br>";
            }
            function showMessages(message) {
                document.getElementById("messages").innerHTML += message+"</br>";
            }
                    
            function hideProgress() {
                jQuery("div#spinner").stop();
                jQuery("div#spinner").fadeOut("fast");
            }
            function startRequest(){
                showProgress();
                //sendRequest();
                validateVendor();
            }
            function validateVendor(){
                var refer = "{!c.Reference_Number__c}";
                showMessages("Reference Number: "+refer);
                jQuery.ajax(this.endPoint+"/validateVendor",{
                        "type":"post",
                        "dataType":"json",
                        "data": {"payload":JSON.stringify({
                                      "platform":"{!platform}",
                                      "vendorCode":"{!c.Vendor_Code__c}",
                                      "orderNumber":"{!c.Reference_Number__c}",
                                      "proxyIP":"{!proxy.IP__c}:{!proxy.Port__c}",
                                      "proxyUser":"{!proxy.Username__c}",
                                      "proxyPassword":"{!proxy.Password__c}"
                                    })
                                },
                        "complete":onValidateVendor
                        });
            }
            function onValidateVendor(result){
                var resp = jQuery.parseJSON(result.responseText);
                //var resp = jQuery.parseJSON('{"status":false,"error":{"message":"Curl-Error: Received HTTP code 407 from proxy after CONNECT"}}');
                
                if(resp.status==false){//Error
                    showErrors("Error: "+resp.error.message);
                    hideProgress();
                    if(resp.error.message.indexOf("proxy") > -1) //Proxy Error
                    {
                        VWMSubmitUpdate.proxyError(//Update the object
                            "{!proxy.Id}",
                            function(result, event){
                                if(event.status){
                                    showErrors("Proxy Error: Please check the proxy settings</br>");
                                    //alert(result);
                                }
                                else if (event.type === 'exception') {
                                    showErrors("proxyError: "+event.message);
                                } else {
                                    showErrors("proxyError: "+event.message);
                                }
                            },
                            {buffer: true, escape: true, timeout: 30000}
                        );   
                    }
                }
                else{//continue
                    token = resp.loginPassword;
                    requestUpdate(token,resp.RequestId,resp.id,onValidateVendorUpdate,"validateVendorOrder");
                }
            }
            function onValidateVendorUpdate(token,requestId,responseId,result){
                var resp = jQuery.parseJSON(result.responseText);
                //
                if(resp.status==false){
                    showErrors(resp.error.message);
                    hideProgress();
                }else if(resp.RequestUpdate.status!="Complete"){
                    setTimeout(function(){requestUpdate(token,requestId,responseId,onValidateVendorUpdate,"validateVendorOrder");}, 2000);
                }else{
                    getPhotos(token);
                }
            }
            function getPhotos(token){
                jQuery.ajax(this.endPoint+"/getPhotos",{
                "type":"post",
                "dataType":"json",
                "data": {"payload":JSON.stringify({
                              "orderNumber":"{!c.Reference_Number__c}",
                            })
                        },
                "complete":function(result){onGetPhotos(token,result);}
                }); 
            }
            function onGetPhotos(token,result){
                var resp = jQuery.parseJSON(result.responseText);
                //alert(result.responseText);
                if(resp.status==false){
                    showErrors(resp.error.message);
                    hideProgress();
                }else{
					this.totalPhotos = resp.ids.length;
					document.getElementById("leftToSend").innerHTML = this.totalPhotos + " photos left to send";
					this.photoQueue  = resp.ids;
					setTimeout(function(){deQueuePhotoAndSend(token);},1000);
                }
                
            }
            function deQueuePhotoAndSend(token){            	    
                 sendPhoto(token,this.photoQueue.shift());
                 if(this.photoQueue.length>0){
                 	setTimeout(function(){deQueuePhotoAndSend(token);},1000);
                 }
            }
            function sendPhoto(token,id){
                jQuery.ajax(this.endPoint+"/sendPhoto",{
                    "type":"post",
                    "dataType":"json",
                    "data": {"payload":JSON.stringify({
                                  "id":id,
                                  "platform":"{!platform}",
                                  "vendorCode":"{!c.Vendor_Code__c}",
                                  "orderNumber":"{!c.Reference_Number__c}",
                                  "proxyIP":"{!proxy.IP__c}:{!proxy.Port__c}",
                                  "loginPassword":token,
                                  "dateServiced":"{!dateServiced}"
                                })
                            },
                    "complete":function(result){onSendPhoto(token,result,id);}
                    });
            }
            function onSendPhoto(token, result,imageLinkId){
                var resp = jQuery.parseJSON(result.responseText);
                if(resp.status==false){
                    if(resp.error.url != null)
                    {
                        VWMSubmitUpdate.setImageLinkStatus(resp.error.url,resp.error.message, function(result, event){
                                if(event.status){
                                    showErrors("Photo Updated: "+result);
                                    //alert(result);
                                }
                                else if (event.type === 'exception') {
                                    showErrors("setImageLinkStatus: "+event.message);
                                } else {
                                    showErrors("setImageLinkStatus: "+event.message);
                                }
                            },
                            {buffer: false, escape: true, timeout: 120000}
                        );
                    }
                    document.getElementById("responseErrors").innerHTML += resp.error.message;
                }else{
                this.dataTransfer = resp.dataXferKB; 
                var roundData = Math.round(this.dataTransfer);
                VWMSubmitUpdate.dataUsage(
                    roundData,
                    "{!proxy.Id}",
                    function(result, event){
                        if(event.status){
                            //alert(result);
                        }
                        else if (event.type === 'exception') {
                            showErrors("dataUsage: "+event.message);
                        } else {
                            showErrors("dataUsage: "+event.message);
                        }
                    },
                    {buffer: true, escape: true, timeout: 30000}
                );
                requestUpdate(token,resp.RequestId,resp.id,onSendPhotoUpdate,"UploadImage", imageLinkId, resp.url);
            }
            }
            function onSendPhotoUpdate(token,requestId,responseId,result,imageLinkId,url){
                var resp = jQuery.parseJSON(result.responseText);
                
                if(resp.status==false){
                    showErrors(resp.error.message);
                    VWMSubmitUpdate.setImageLinkStatus(url,"Code Error", function(result, event){
                        if(event.status){
                            //alert(result);
                        }
                        else if (event.type === 'exception') {
                            showErrors("setImageLinkStatus: "+event.message);
                        } else {
                            showErrors("setImageLinkStatus: "+event.message);
                        }
                    },
                    {buffer: false, escape: true, timeout: 120000}
                );
                    this.countPhoto++;
                }else if(resp.RequestUpdate.status!="Complete"){ //Photo sent with error
                    //showErrors("Photo Status: "+resp.RequestUpdate.status+ " </br> URL: "+url+"<br> SGResponse: "+resp.RequestUpdate.SGResponse+ "<br>");
                    if(resp.RequestUpdate.status!="Failed"){
                        VWMSubmitUpdate.setImageLinkStatus(url,resp.RequestUpdate.status, function(result, event){
                        if(event.status){
                            showErrors("Photo Updated: "+result);
                            //alert(result);
                        }
                        else if (event.type === 'exception') {
                            showErrors("setImageLinkStatus: "+event.message);
                        } else {
                            showErrors("setImageLinkStatus: "+event.message);
                        }
                    },
                    {buffer: false, escape: true, timeout: 120000}
                );
                        setTimeout(function(){requestUpdate(token,requestId,responseId,onSendPhotoUpdate,"UploadImage",imageLinkId,url);}, 120000);
                    }
                    else if(resp.RequestUpdate.status=="Failed"){
                        VWMSubmitUpdate.setImageLinkStatus(url,resp.RequestUpdate.status, function(result, event){
                        if(event.status){
                            showErrors("Photo Failed: "+url+"  ("+result+")");
                            //alert(result);
                        }
                        else if (event.type === 'exception') {
                            showErrors("setImageLinkStatus: "+event.message);
                        } else {
                            showErrors("setImageLinkStatus: "+event.message);
                        }
                    },
                    {buffer: false, escape: true, timeout: 120000}
                );
                
                    this.countPhoto++;
                    }
                    //
                }
                else{//Photo sent successfully
                        VWMSubmitUpdate.setImageLinkStatus(url,"Sent", function(result, event){
                        if(event.status){
                            //alert(result);
                        }
                        else if (event.type === 'exception') {
                            showErrors("setImageLinkStatus: "+event.message);
                        } else {
                            showErrors("setImageLinkStatus: "+event.message);
                        }
                    },
                    {buffer: false, escape: true, timeout: 120000}
                );
                    this.countPhoto++;
                }
                var remaining = this.totalPhotos - this.countPhoto;
                document.getElementById("leftToSend").innerHTML = remaining + " photos left to send";
                if(this.countPhoto >= this.totalPhotos){
                     alert(this.countPhoto+" photos sent!");
                     hideProgress();
                }
            }
            function requestUpdate(token,requestId,responseId,callback,type, imageLinkId, url){
                if(typeof(imageLinkId)==='undefined') imageLinkId = null;
                if(typeof(url)==='undefined') url = null;
                jQuery.ajax(this.endPoint+"/requestUpdate",{
                "type":"post",
                "dataType":"json",
                "data": {"payload":JSON.stringify({
                              "platform":"{!platform}",
                              "requestId":requestId,
                              "responseId":responseId,
                              "requestType":type,
                              "vendorCode":"{!c.Vendor_Code__c}",
                              "orderNumber":"{!c.Reference_Number__c}",
                              "proxyIP":"{!proxy.IP__c}:{!proxy.Port__c}",
                              "loginPassword":token,
                              "idImageLink":imageLinkId 
                            })
                        },
                "complete":function(result){callback(token,requestId,responseId,result,imageLinkId,url);}//imageLinkId just for onSendPhotoUpdate
                });
                
            }
            function checkProgress(){
                var responseArea = document.getElementById("res");
                var resp = responseArea.innerHTML;
                
                var response = jQuery.parseJSON(resp);
                if(response!=null){
                    if(response.remainingPhotos > 0){
                        
                        showProgress();
                        document.getElementById("leftToSend").innerHTML = response.remainingPhotos + " photos left to send";
                        sendRequest();
                    }else{
                        hideProgress();
                    }
                }else{
                    document.getElementById("leftToSend").innerHTML = "Error - No Response!";
                }
            }
        </script>
        
        <div id="spinner">
            <div class="inner">
                <p>Working...</p>
                <div id="currentAction"></div>
                <div id="leftToSend"></div>
            </div>
        </div>
        
        <apex:outputPanel id="errors">
            <apex:pageMessages id="messages" showDetail="true" />
        </apex:outputPanel>
        
        <h1 style="font-size:250%;">SG PhotoDirect Connector:</h1>
        <br/>
        <apex:actionFunction name="sendRequest" action="{!sendRequest}" reRender="out,errors" oncomplete="checkProgress();"></apex:actionFunction> 
        <button type="button" style="font-size:20pt;" value="Send Photos" onclick="startRequest();">Send Photos</button>
        <div id="responseErrors"></div>
        <div id="messages"></div>
        <apex:outputPanel id="out">
            <div id="res">
                {!responseString}
            </div>
        </apex:outputPanel>
    </apex:form>
</apex:page>