<!-- 
    Purpose         :   This page is used as an interface for review and assignment of work order instructions.
    
    Created By      :   Padmesh Soni
    
    Created Date    :   11/21/2014
    
    Current Version :   V1.0
    
    Revision Log    :   V1.0 - Created - CCP-6: Contact Information sidebar
-->
<apex:page showHeader="false" controller="SupportInformationController">
    
    <script>
        
        function createNewRequest() {
            
            window.parent.location.href = '{!$Site.CurrentSiteUrl}{!reqeustKeyPrefix}/e';
        }
    </script>
    <apex:form style="background-color:#F1F3F5;height:220px;">
        
        <input onclick="createNewRequest();" style="background:linear-gradient(to bottom,#8FEAFD,#188BA4);color: black;border-color: white;border-radius: 5px;height: 32px;border-width: 2px;" type="button" value="New Request"/>
        <BR/><BR/>
        
        <apex:outputLabel value="Account Manager:" style="font-weight:bold;"/>
        <BR/>
        <apex:outputLabel value="{!$User.Contact_Account_Owner__c}"/>
        <BR/><BR/>
        
        <apex:outputLabel value="Support Email:" style="font-weight:bold;"/>
        <BR/>
        <a href="mailto:{!$User.Contact_Account_Northsight_Email__c}" target="_top">
        {!$User.Contact_Account_Northsight_Email__c}
        </a>
        <BR/><BR/>
        
        <apex:outputLabel value="Support Phone:" style="font-weight:bold;"/>
        <BR/>
        <apex:outputLabel value="{!$User.Contact_Account_Northsight_Phone__c}"/>
        <BR/><BR/>
        
        <apex:outputLabel value="24x7 Emergency Support:" style="font-weight:bold;"/>
        <BR/>
        <apex:outputLabel value="(800) 516-1553"/>
        <BR/>
    </apex:form>
</apex:page>