<!-- 
    Purpose         :   This page is used for Updater Community as its having PortalUpdater2 page in iframe for functionality
                        same as Customer Portal Updater
    
    Created By      :   Padmesh Soni
    
    Created Date    :   08/19/2014
    
    Current Version :   V1.0
    
    Revision Log    :   V1.0 - Created
-->
<apex:page >
    <script type="text/javascript">
      function iframeLoaded() {
          var iFrameID = document.getElementById('idIframe');
          if(iFrameID) {
                // here you can make the height, I delete it first, then I make it again
                iFrameID.height = "";
                iFrameID.height = iFrameID.contentWindow.document.body.scrollHeight + "px";
          }   
      }
    </script>   
    <iframe id="idIframe" onload="iframeLoaded()" src="/updaters/PortalUpdater2" width="100%" frameborder="no" marginheight="0" marginwidth="0" scrolling="no" />
</apex:page>