<apex:page showheader="false" standardController="Vendor_Application__c">

<head>
<title>Northsight Vendor Application Form</title>

<script>
  window.intercomSettings = {
    app_id: "ax70yoc3",
    name: "{!Vendor_Application__c.Contact__r.Name}", // Full name
    email: "{!Vendor_Application__c.Email__c}", // Email address
    created_at: "{!Vendor_Application__c.CreatedDate}", // Signup date as a Unix timestamp
    unsubscribed_from_emails: "true",
    contact_url: "https://northsight.my.salesforce.com/{!Vendor_Application__c.Contact__c}", // Url for the contact card
    Contact_status: "{!Vendor_Application__c.Contact__r.Status__c}",
    Contact_substatus: "{!Vendor_Application__c.Contact__r.Sub_Status__c}",
    Contact_created: "{!Vendor_Application__c.Contact__r.CreatedDate}",
    phone: "{!Vendor_Application__c.Contact__r.Phone}",
    City: "{!Vendor_Application__c.Contact__r.OtherCity}",
    State: "{!Vendor_Application__c.Contact__r.OtherState}",
    
    
  };
</script>
<script>(function(){var w=window;var ic=w.Intercom;if(typeof ic==="function"){ic('reattach_activator');ic('update',w.intercomSettings);}else{var d=document;var i=function(){i.c(arguments);};i.q=[];i.c=function(args){i.q.push(args);};w.Intercom=i;var l=function(){var s=d.createElement('script');s.type='text/javascript';s.async=true;s.src='https://widget.intercom.io/widget/ax70yoc3';var x=d.getElementsByTagName('script')[0];x.parentNode.insertBefore(s,x);};if(w.attachEvent){w.attachEvent('onload',l);}else{w.addEventListener('load',l,false);}}})();</script>
</head>

  <skuid:page page="Vendor_Portal_Link_v4"/>
</apex:page>