<!-- 
    Purpose         :   This page is used for Assignment of Work Orders related to "OS" case queues to self.
    
    Created By      :   Padmesh Soni
    
    Created Date    :   03/29/2014
    
    Current Version :   V1.4
    
    Revision Log    :   V1.0 - Created
                        V1.1 - Modified - Padmesh Soni (05/12/2014) - 140509 OrderSelect Dynamic pricing mod(Self Service Assignment)
                        V1.2 - Modified - Padmesh Soni (05/13/2014) - 140509 OrderSelect Dynamic pricing mod(Self Service Assignment)
                                Changes are:
                                1. SSA-33 - Refresh order list on assignment denial.
                                2. SSA-32 - Check serviceable when assigning order.
                        V1.3 - Modified - Padmesh Soni (05/20/2014) - 05/19/2014 OAM/SSA Tasks
                                Changes are:
                                1. SSA-36 - Center Initials
                                2. SSA-37 - Popup baloon on truck click.
                        V1.4 - Modified - Padmesh Soni (08/28/2014) - SM-183 Last Login isn't updated on Contact.
                                Change: Page action method added for udpation method calling 
-->
<apex:page id="pg" controller="VendorSelfServeMapController" sidebar="false" action="{!checkIp}">
    
    <title>Order Select</title>
    
    <apex:includeScript value="{!URLFOR($Resource.jquery, 'js/jquery-1.8.2.js')}"/>
    <apex:includeScript value="{!URLFOR($Resource.jquery, 'js/jquery-ui-1.9.1.custom.min.js')}"/>
    
    <apex:stylesheet value="{!URLFOR($Resource.jquery, 'css/redmond/jquery-ui-1.9.1.custom.min.css')}"/>
    <apex:includeScript value="https://www.google.com/jsapi"/>
    
    <style type="text/css">
    input[type="button"]:disabled
        {
        background:#dddddd;
        }
        .active{
            background-color: skyblue;
            cursor:pointer;
        }
        .bootstrap-frm {
            
            width: 480px;
            margin-right: auto;
            margin-left: 0;
            background: #FFF;
            padding: 10px 20px 10px 20px;
            font: 10px "Helvetica Neue", Helvetica, Arial, sans-serif;
            color: black;
            text-shadow: 1px 1px 1px #FFF;
            border:1px solid #DDD;
            border-radius: 5px;
            -webkit-border-radius: 5px;
            -moz-border-radius: 5px;
        }
        .bootstrap-frm-tbl {
            width: auto;
            margin-right: auto;
            margin-left: 177px;
            background: #FFF;
            padding: 10px 20px 10px 20px;
            font: 10px "Helvetica Neue", Helvetica, Arial, sans-serif;
            color: black;
            text-shadow: 1px 1px 1px #FFF;
            border:1px solid #DDD;
            border-radius: 5px;
            -webkit-border-radius: 5px;
            -moz-border-radius: 5px;
            margin-top: 5px;
        }
        .bootstrap-frm a {
            color: #2a6496;
        }
        
        .class-check{
            width: 20px;
            border-right: 2px solid #DDD;
            display: inline-block;
            float: left; 
            text-align: center;
            padding-top: 10px;
            height:24px;
        }
        .customPopup {
            
            width:527;
            background-color: white;
            border-style: solid;
            border-width: 2px;
            left: 42%;
            padding: 4px;
            position: absolute;
            z-index: 9999;
            top: 30%;
        }
        
        .disabledTextBox {
            background-color: white;
            border: 1px solid;
            color: black;
            cursor: default;
            width: 90px;
            display: table;
            padding: 2px 1px;
            text-align:right;
        }   
        .labels {
        
            background-image: url({!URLFOR($Resource.VendorTruck)});
            background-size:65px 65px;
            background-repeat:no-repeat;
            background-position: 0px -15px;
            font-family: "Lucida Grande", "Arial", sans-serif!important;
            font-size: 1.5em!important;
            font-weight: bold!important;
            width: 70px;
            height: 35px;
            margin: 0px 0px 0px 0px;
            white-space: nowrap;
            padding: 4px 0px 0px 6px;
            opacity: 1.0;
            position: absolute!important;
            cursor: pointer;
        }
        
        .closeButton {
            float: right;
        }
        .pins {
            cursor: pointer; 
            color: black;
            background-image:url('{!URLFOR("https://chart.googleapis.com/chart?chst=d_map_xpin_letter&chld=pin||0266C8|000000|FF0000")}');
            font-family: "Lucida Grande", "Arial", sans-serif;
            font-size: 6pt;
            font-weight: normal;
            text-align: center;
            min-width: 21px;
            height:34px;
            margin:0px;
            background-origin:content-box;     
            white-space: nowrap;
            padding:5px 2px 0px 0px;
            opacity:1.0;
            background-repeat:no-repeat;
        }
        .selected{
            //background-image:url('{!URLFOR("https://chart.googleapis.com/chart?chst=d_map_xpin_letter&chld=pin_star||0266C8|FF0000|FFFF00")}');
            //min-width: 23px;
            //height:39px;
            //padding:0px 0px 0px 0px;
            border:1px dashed blue!important;
        }
        
        .mapIcon {
            border-radius: 20%;
            cursor: pointer;
            text-align: center;
            margin: 0px;
            white-space: nowrap;
            opacity: 1.0;
            height: auto;
            line-height: 0.85em;
            letter-spacing: 0em;
            display: inline-block;
            font-family: Roboto,Arial, Helvetica, "Sans Serif"!important;
            width: 1em;
            height: 1em;
            margin: 0px;
            box-shadow: 0.1em 0.1em 0.1em rgba(0,0,0,0.5);
        }
        #mapKeyContainer{
            min-height:400px;
            max-height:400px;
            overflow:auto;
        }
        #legend-table tr{
            height:3em;
        }
        #dialogContent{
            width:750px;
            height:460px;
            overflow:hidden;
        }
        .alert .ui-dialog-titlebar {
            background:linear-gradient(to bottom, orange,orangeRed);
            border: 1px solid red;
        }
        .no-close .ui-dialog-titlebar-close{display:none;}
        div#spinner
        {
            display: none;
            width:100px;
            height: 100px;
            position: fixed;
            top: 50%;
            left: 50%;
            background:url({!URLFOR($Resource.TSP, 'loading.gif')}) no-repeat center #fff;
            text-align:center;
            padding:10px;
            font:normal 16px Tahoma, Geneva, sans-serif;
            border:1px solid #666;
            margin-left: -50px;
            margin-top: -50px;
            z-index:2;
            overflow: auto;
        }
        .inner {
            display: table;
            height:100px;
            width:100%;
        }
        #pg\:frm\:pb\:pbs\:controlGroup1>*{
            vertical-align:top;
        }
        #map_overlay_buttons {
            margin-left: 382px;
            margin-top: 8px;
            position: absolute;
            z-index: 2;
        }
        .dateFormat {
            display:none;
        }
    </style>
    <script>
    
    
        tab = 1;
        showOrderSelectTab = true;
        setCookie("apex__profileName",'"{!$Profile.Name}"');
        showOrderSelectTab = true;

        var URLFOR = {
            Resource: {
                jquery: {
                    'js/StyledMarker.js': "{!URLFOR($Resource.jquery, 'js/StyledMarker.js')}",
                    'js/keydragzoom.js': "{!URLFOR($Resource.jquery, 'js/keydragzoom.js')}",
                },
                TSP: {
                    'icon.png': "{!URLFOR($Resource.TSP, 'icon.png')}",
                    'image.png': '{!URLFOR($Resource.TSP, 'image.png')}',
                    'shadow.png': '{!URLFOR($Resource.TSP, 'shadow.png')}',
                    'home24.png': "{!URLFOR($Resource.TSP, 'home24.png')}",
                    'select.png': "{!URLFOR($Resource.TSP, 'select.png')}",
                }
            }
        };
        
        var ctrldown;
        var selectedc=0;
        var stateCenters = {"IL":{"lat":40.3363,"lon":-89.0022}};

        var map;
        var conId;
        var isZoomOnLoad=false;
        var overlay;
        var contactId;
        var markers = {};
        var wo_selection = {};
        var idSets = new Array();
        var minLat, minLon, maxLat,maxLon, contactLat, contactLon, conSrvcRange;
        var state="IL";
        var ownId;
        var workOrderOfVendor;
        var originalMData;
        var vendorOnTabel;
        var selectedVendorOnTable;
        var isFlag=false;
        var hiddenWorkOrders = {};
        var isClose=false;
        var firstCenter;
        var isBlink=false;
        jQuery.noConflict();
        var spinnerVisible = false;
        var prevSelectedOrder = {};
        var timeOut;
        var isTimedRefresh=true;
        function compareMapKeyEntries(a,b) {
          if (a.price < b.price)
             return -1;
          if (a.price > b.price)
            return 1;
          return 0;
        }
        function showProgress() {

            jQuery("div#spinner").fadeIn("fast");
            spinnerVisible = true;
        };
        
        function hideProgress() {
        
            var spinner = jQuery("div#spinner");
            spinner.stop();
            spinner.fadeOut("fast");
            spinnerVisible = false;
            refreshUser();
        };
            
        function drawMap(mapCenter,zoomLevel) {

            var mapOptions = {
                zoom: zoomLevel,
                minZoom:4,
                center: mapCenter,
                mapTypeId: google.maps.MapTypeId.ROADMAP,
                scaleControl:true
            };
            
            map = new google.maps.Map(document.getElementById('map_div'), mapOptions);
            
            map.enableKeyDragZoom(
                {
                    key: 'alt',
                    visualEnabled: true,
                    visualSprite: URLFOR.Resource.TSP['select.png'],
                    visualPositionOffset: new google.maps.Size(10, 10),
                    visualPosition: google.maps.ControlPosition.TOP_LEFT,
                    visualSize: new google.maps.Size(60, 30),
                    visualTips: { on: 'Disable lasso-select mode',
                        off: 'Click to lasso-select multiple orders on the map'
                    }
                }          
            );
            
            var dz = map.getDragZoomObject();
            google.maps.event.addListener(dz, 'dragend', function (bnds) {
                selectMarkersByBounds(bnds);
            });

            google.maps.event.addListener(map, 'center_changed', function (event) {
                map.boundsChanged = true;
            });
            google.maps.event.addListener(map, 'zoom_changed', function (event) {
                map.boundsChanged = true;
            });
            map.boundsChanged = false;
            
            google.maps.event.addListener(map, 'idle', function (event) {
                if(map.boundsChanged==true){
                //drawMap(map.getCenter(),map.getZoom());
                }
                map.boundsChanged=false;
            });
            google.maps.event.addListener(map, 'tilesloaded', function (event) {
                queryWorkOrders();
            });
        }

        function selectMarkersByBounds(bnds) {
            
            for(k in markers) {  // start at 1 to avoid selecting the start position
                
                if(markers[k]._id != contactId) {
                    // close any info boxes
                    if(typeof markers[k].infoWindow!= 'undefined') {
                        markers[k].infoWindow.close();
                    }
                    //if(bnds.contains(markers[k].getPosition())) {
                    if(bnds.contains(markers[k]._latLng)) {
                        
                        if(!(k in wo_selection)){
                            
                            wo_selection[k] = markers[k];
                        }
                    }else{
                        
                        if(!ctrldown){
                            
                            if(markers[k].WON in wo_selection){
                                
                                delete wo_selection[k];
                            }
                        }
                    }
                    var m = markers[k];
                    drawMarker(m._latLng.lat(),m._latLng.lng(),m.Id, m.WON,m.color,m.ownerName, m.ownerAlias, m.SSAMapIcon);
                }
            }

            for(k in wo_selection){
                
                bnds.extend(wo_selection[k]._latLng);
            }
            refreshMapOverlay();
            
            refreshSidebar();
        }

        //Method to assigning Selected WorkOrders to AssignTo
        function assignWOToOwner() {

            showProgress();
            
            var count = 0;
            var setCount = 0;
            var orderIds = new Array();
            idSets = new Array();            
            for(k in wo_selection) {
                
                var value = wo_selection[k].Id;
                orderIds[count] = value;
                count++;
                if(count>=50){
                
                    idSets.push(orderIds);
                    orderIds = new Array();
                    setCount++;
                    count = 0;
                }
            }      
            
            if(count<50 && orderIds.length>0){
                idSets.push(orderIds);
            }     
            Visualforce.remoting.Manager.invokeAction('{!$RemoteAction.VendorSelfServeMapController.checkAssignWorkOrders}', idSets.pop(), assignSet,{escape:true,timeout:120000});
        }

        function assignSet(result,event){                               

            if(event.status) {
                
                if(idSets.length == 0) {
                    
                    document.getElementById("pg:frm:pb:infoMessag").innerHTML = '';
                    document.getElementById("result").innerHTML = '{!$Label.WOAMP_Completed}';
                    
                    closeConfirmation();
                    hideProgress();
                    isFlag=true;
                    var selOrders = document.getElementById('pg:frm:pb:selCounter');
                    selOrders.innerHTML = 0;
                    drawMap(map.getCenter(),map.getZoom());
                }
            }else if (event.type == 'exception') {
                
                document.getElementById("result").innerHTML = '{!$Label.WOAMP_Not_Completed}' + ' ' +event.message + '<br/>\n<pre>' + event.where + '</pre>';
                hideProgress();
                refreshButtons(1);
                return;
            } else {
                document.getElementById("result").innerHTML = event.message;
            }
            if(idSets.length>0){
                Visualforce.remoting.Manager.invokeAction('{!$RemoteAction.VendorSelfServeMapController.checkAssignWorkOrders}', idSets.pop(),assignSet,{escape:true,timeout:120000});
            }else{
                hideProgress();
            }
        }
        
        function drawMarker(lat, lng,id, won,color, ownerName, ownerAlias, SSAMapIcon) {
            
            var latlng = new google.maps.LatLng(lat, lng);
            var selected = (won in wo_selection);
            var tempInfoWindow;
            if(won in markers){
                var m = markers[won];
                if(typeof m.infoWindow != 'undefined') {
                    tempInfoWindow = m.infoWindow;
                } 
                delete markers[won];
            }
            marker = buildMarker(latlng,id, won,color,ownerName,ownerAlias, SSAMapIcon, selected);
            marker.infoWindow = tempInfoWindow;
            markers[won] = marker;
            if(selected){
                wo_selection[won]=marker;
            }
        }

        function getColor(color) {

            switch(color)
            {
                case 'Urgent':
                case 'Red':
                return "FFAAAA";
                case 'Yellow':
                return "FFFF00";
                case 'Dark Green':
                return "0A7A24";
                case 'Light Green':
                return '8CD19C';
                case 'Black':
                return "000000";
                case 'purple':
                return "483D8B";
                case 'white':
                default:
                return "FFFFFF";
            }
        }

        function buildMarker(latlng, id, won, color, ownerName, ownerAlias, SSAMapIcon, selected) {
            
            var markertext = ownerAlias;
            var marker = null;
            
            // Draw the home icon for the start
            
            var ssAMapIcon = SSAMapIcon;            
            var iconData = ssAMapIcon.split('|');
            var markercolor =  getColor(color);
            markercolor = iconData[3].trim();
            var textcolor = iconData[2].trim();
            //var textcolor  = (color == 'Black') ? 'FFFFFF' : '000000';
            var starcolor = (color == 'Urgent') ? 'FFFF00' : 'FFFFFF';
            var offset = new google.maps.Point(10,42);
            var sz = new google.maps.Size(21,34);
            var shape = {coord: [0, 0, 30, 30],
                type: 'rect'
            };
            var windowOffset = new google.maps.Size(0, -35);
            var selClass = "";
            var markerClasses = "mapIcon";
            if (selected == true){
                markerClasses += " selected";
                textcolor = markercolor;
                markercolor = 'FFFFFF';
                selClass = "selected";
            }else{
            } 
            
            
           /** if(prevSelectedOrder.hasOwnProperty(won)) {
                
                markerClasses += " selected";
                textcolor = markercolor;
                markercolor = 'FFFFFF';
                selClass = "selected";
                if(!won in wo_selection)
                    wo_selection[won] = prevSelectedOrder[won];
                delete prevSelectedOrder[won];
            }**/
            
            var zIndex = google.maps.Marker.MAX_ZINDEX;
            
            marker =  new com.redfin.FastMarker(id, latlng, ["<div class='"+markerClasses+"' style='font-size:"+iconData[1].trim()+"px;color:#"+textcolor+";background: linear-gradient(to bottom, white, #"+markercolor+",#"+markercolor+"); border:1px solid #"+markercolor+";' onClick='markerClick(\""+won+"\");'>", iconData[0].trim(),"</div>"], null, zIndex,0,0);
            marker.Id = id;
            marker.WON = won;
            marker.color = color;
            marker.ownerName = ownerName;
            marker.ownerAlias = ownerAlias;
            marker.SSAMapIcon = SSAMapIcon;
            
            return marker;
        }
        
        function truckClick(key) {
            
            var windowOffset = new google.maps.Size(10, 5);
            var marker = markers[key];
            
            var label_content  = '<div><b style="font-weight:bold;">{!currentUser.Contact.FirstName} {!currentUser.Contact.LastName}</b><br/>{!currentUser.Contact.OtherStreet}<br/>'
                                +'{!currentUser.Contact.OtherCity} {!currentUser.Contact.OtherState}, {!currentUser.Contact.OtherPostalCode}<br/>'
                                +'Location: {!currentUser.Contact.Other_Address_Geocode__Latitude__s} {!currentUser.Contact.Other_Address_Geocode__Longitude__s}'
                            +'</div>';
            
            for(k in markers) {
                if(typeof markers[k].infoWindow != 'undefined') {
                    markers[k].infoWindow.close();
                }
            }

            var infoWindow = new google.maps.InfoWindow({ 
                content: label_content ,
                position: marker._latLng,
                pixelOffset:windowOffset
            });
            marker.infoWindow = infoWindow;
            infoWindow.open(map);
        }
        
        function markerClick(key) {
                
            var windowOffset = new google.maps.Size(10, 5);
            var marker = markers[key];
            if(!ctrldown) {
                
                if(marker._id != contactId) {

                    var selOrders = document.getElementById('pg:frm:pb:selCount');
                    var countSel = parseInt(selOrders.innerHTML);
                    if(marker.WON in wo_selection){
                        delete wo_selection[marker.WON];
                        selOrders.innerHTML = countSel - 1;
                    }else{
                        wo_selection[marker.WON] = marker;
                        selOrders.innerHTML = countSel + 1;
                    }
                    
                    if(parseInt(selOrders.innerHTML)<=0){
                        jQuery("#deSelBtn").hide();
                    }else{
                        jQuery("#deSelBtn").show();
                    }
                    drawMarker(marker._latLng.lat(),marker._latLng.lng(),marker.Id, marker.WON,marker.color,marker.ownerName, marker.ownerAlias, marker.SSAMapIcon, (marker.WON in wo_selection));
                    refreshMapOverlay();
                    refreshSidebar();
                }
            } else {
                return;
                var URL = "{!URLFOR($Page.WorkOrderMapDetail)}?Id="+marker.Id;
                
                jQuery.ajax({url:URL})
                .done(function(results){
                    var label_content = results;
                    for(k in markers) {
                        if(typeof markers[k].infoWindow != 'undefined') {
                            markers[k].infoWindow.close();
                        }
                    }

                    var infoWindow = new google.maps.InfoWindow({ 
                        content: label_content ,
                        position: marker._latLng,
                        pixelOffset:windowOffset
                    });
                    marker.infoWindow = infoWindow;
                    infoWindow.open(map);
                });
            }
        }

        jQuery(document).ready(function(){
            
            google.load("maps", "3.12", {callback: init, other_params:"key=AIzaSyC4efn2nRgZohcWKQ8JBuf75yWff52rhmw&sensor=false&libraries=geometry"});
            
            jQuery(window).keydown(function(evtobj) {
                if(evtobj.ctrlKey || evtobj.metaKey) { 
                    ctrldown = true;
                } 
                jQuery(window).keyup(function(evtobj) {
                    ctrldown = false;
                });
            });
            jQuery('.btn').button();
            jQuery("#deSelBtn").hide();
            jQuery("#dialog").dialog({
              dialogClass: "no-close alert",
              title:"No Orders",
              autoOpen:false,
              resizable:false,
              draggable:false,
              height:'auto',
              width:'auto',
              modal:true,
              buttons: [
                {
                  text: "OK",
                  click: function() {
                    jQuery( this ).dialog( "close" );
                  }
                }
              ]
            });
            
        });

        function init(){

            jQuery.when(
                jQuery.getScript( URLFOR.Resource.jquery['js/StyledMarker.js'] ),
                jQuery.getScript( URLFOR.Resource.jquery['js/keydragzoom.js'] ),
                
                //Tyler Hudson - 20160512 - https://google-maps-utility-library-v3.googlecode.com/svn/tags/markerwithlabel/1.1.9/src/markerwithlabel_packed.js no longer hosted
                //by google. statically hosting within salesforce today.
                
                jQuery.getScript("{!URLFOR($Resource.markerwithlabel)}"),
                jQuery.getScript("{!URLFOR($Resource.FastMarkerOverlay)}"),
                
                jQuery.Deferred(function( deferred ){
                    jQuery( deferred.resolve );
                })
            ).done(function(){
                google.maps.visualRefresh = true;
                
                var geocoder = new google.maps.Geocoder();
                var address = document.getElementById('pg:frm:pb:address');
                var conLat = document.getElementById('pg:frm:pb:addressLat');
                var conLon = document.getElementById('pg:frm:pb:addressLon');
                var conServiceRange = document.getElementById('pg:frm:pb:conSrvcRange');
                var addressValue = address.innerHTML;
                var conLatValue = conLat.innerHTML;
                var conLonValue = conLon.innerHTML;
                var conSrvcRangeValue = conServiceRange.innerHTML;
                
                if(conSrvcRangeValue != '') {
                    conSrvcRange = conSrvcRangeValue;
                }
                
                if(conLatValue != '' && conLonValue != '') {
                    
                    contactLat = conLatValue;
                    contactLon = conLonValue;
                    firstCenter = new google.maps.LatLng(contactLat, contactLon);
                    drawMap(new google.maps.LatLng(contactLat, contactLon), 3);
                    isZoomOnLoad= true;    
                } else {

                    if(addressValue != ''){
                        geocoder.geocode( { 'address': addressValue}, function(results, status) {

                            if (status == google.maps.GeocoderStatus.OK) {
                                
                                firstCenter = results[0].geometry.location;
                                contactLat = firstCenter.lat();
                                contactLon = firstCenter.lng();
                                drawMap(firstCenter, 3);
                                isZoomOnLoad= true;
                            }else{
                                drawMap(new google.maps.LatLng(stateCenters[state].lat, stateCenters[state].lon),8);
                            }
                        });
                    } else {
                        
                        drawMap(new google.maps.LatLng(stateCenters[state].lat, stateCenters[state].lon),8);
                    }
                }
            });
        }
        
        function showMaxZoom(e) {
        
            maxZoomService.getMaxZoomAtLatLng(e.latLng, function(response) {
                if (response.status != google.maps.MaxZoomStatus.OK) {
                    alert("Error in MaxZoomService");
                    return;
                } else {
                    alert("The maximum zoom at this location is: " + response.zoom);
                }
                map.setCenter(e.latLng);
            });
        }
        
        function refreshMapOverlay(){

            var markerArray = [];
            if(typeof overlay != 'undefined' && overlay != null){
                overlay.setMap(null);                       
            }
            for(var key in markers){
                markerArray.push(markers[key]);
            }
            overlay = new com.redfin.FastMarkerOverlay(map, markerArray);
        }
        
        function queryWorkOrders(){
        
            var bounds = map.getBounds();
            var ne = bounds.getNorthEast();
            var sw = bounds.getSouthWest();
            var minLat = sw.lat();
            var minLon = sw.lng();
            var maxLat = ne.lat();
            var maxLon = ne.lng();
            vendorOnTabel = "";
            selectedVendorOnTable = "";
            markerClusterer = null;
            hiddenWorkOrders = {};
            if(isFlag) {
                wo_selection = {};
                markers = {};
                isFlag = false;
            }
            
            var URL = "{!URLFOR($Page.VSSWorkOrderListJSON)}?contactLat="+contactLat+"&contactLon="+contactLon+"&conSrvcRange="+conSrvcRange;//+"&minLat="+minLat+"&minLon="+minLon+"&maxLat="+maxLat+"&maxLon="+maxLon;
            URL = encodeURI(URL);
            console.log(URL);
            jQuery.ajax({url: URL})
            .done(
                function( data ){
                    var mdata = jQuery.parseJSON(data);
                    var mapVendors = new Map();
                    var index = mdata.length;
                    workOrderOfVendor = new Array(index);
                    originalMData = mdata;
                    
                    contactId = '{!currentUser.ContactId}';
                    var vendorInitials = '{!vendorInitials}';
                    
                    var zIndex = 9999;
                    
                    var LatLngList;
                    
                    if(firstCenter != '') {
                        
                        var tempInfoWindow;
                        var marker =  new com.redfin.FastMarker(contactId, firstCenter, ["<div class='labels' onclick='truckClick(\""+contactId+"\");' onmousedown='truckClick(\""+contactId+"\");'>",vendorInitials,"</div>"] , null, zIndex);
                        marker.Id = contactId;
                        marker.WON = contactId;
                        if(typeof marker.infoWindow != 'undefined') {
                            tempInfoWindow = marker.infoWindow;
                        } 
                        marker.infoWindow = tempInfoWindow;
                        markers[marker.WON] = marker;
                        console.log(markers);
                        LatLngList= new Array(firstCenter);
                    }
                    
                    var listLength = LatLngList.length;
                    
                    var mdataSize = mdata.length;
                    
                    //Prepare the outputed string
                    var theTable = "";
                    
                    //Finally appended the whole string to the table
                    $("#legend-table").find("tr:gt(0)").remove();
                    var noOrdersAvail = true;
                    if(mdataSize > 0) {
                        
                            var legend = {};
                            
                            for(var i=0;i<mdata.length;i++){                                
                                
                                if(mdata[i].isAvailable != 'UnAvailable') {
          
                                    noOrdersAvail = false;
          
                                    if(prevSelectedOrder.hasOwnProperty(mdata[i].WON)) {
                        
                                        if(!mdata[i].WON in wo_selection)
                                            wo_selection[mdata[i].WON] = prevSelectedOrder[mdata[i].WON];
                                        delete prevSelectedOrder[mdata[i].WON];
                                    }
                                    
                                    drawMarker(mdata[i].lat, mdata[i].lon,mdata[i].Id,mdata[i].WON,mdata[i].color,mdata[i].ownerName, mdata[i].ownerAlias, mdata[i].SSAMapIcon);
                                    var ssaMapVal = mdata[i].SSAMapIcon;
                                    ssaMapArray = ssaMapVal.split('|');
                                    if(!(ssaMapArray[0].trim() in legend)){
                                        legend[ssaMapArray[0].trim()] = {
                                             "icon":ssaMapArray[0].trim(),
                                             "size":ssaMapArray[1].trim(),
                                             "fgColor":ssaMapArray[2].trim(),
                                             "bgColor":ssaMapArray[3].trim(),
                                             "price":ssaMapArray[4].trim(),
                                             "description":ssaMapArray[5].trim()
                                            }; 
                                    }
              
                                    var uniqueKey = mdata[i].ownerName + '(' + mdata[i].ownerAlias + ')';
                                    originalMData[i] = mdata[i];
              
                                    if(listLength > 0) {
                                        LatLngList[i+1] = new google.maps.LatLng (mdata[i].lat,mdata[i].lon);
                                    } else {
                                        
                                        LatLngList[i] = new google.maps.LatLng (mdata[i].lat,mdata[i].lon);
                                    }
                                }
                            }
                               var legendArray = new Array();
                               for (var icon in legend) {
                                // important check that this is objects own property 
                                // not from prototype prop inherited
                                  if(legend.hasOwnProperty(icon)){
                                    legendArray.push(legend[icon]);
                                }
                               }
                               legendArray.sort(compareMapKeyEntries);
                               var currIcon; 
                               while(currIcon = legendArray.pop()){  
                               theTable += '<tr>';
                               theTable += '<td><div class="mapIcon" style="font-size:'+currIcon.size+'px;color:#'+currIcon.fgColor+';background: linear-gradient(to bottom, white, #'+currIcon.bgColor+',#'+currIcon.bgColor+'    ); border:1px solid #'+currIcon.bgColor+'">'+currIcon.icon+'</div></td>';
                               theTable += '<td>';
                                       var priceVal = parseFloat(currIcon.price).toFixed(2);
                                       if(priceVal != "NaN"){ 
                                           theTable+='$'+priceVal+' ';
                                       }
                                       theTable += currIcon.description+'</td>';
                               theTable += '</tr>';
                               }
                           
                            for(k in prevSelectedOrder) {
                                
                                if(k in markers)
                                    delete markers[k];
                                if(k in wo_selection)
                                    delete wo_selection[k];
                            }
                            
                            //Finally appended the whole string to the table
                            $('#legend-table').append(theTable);
                            
                            refreshMapOverlay();
                            
                            listLength = LatLngList.length;
                            
                            if(listLength > 1) {
                            
                                bounds = new google.maps.LatLngBounds ();
                                
                                for (var i = 0, LtLgLen = LatLngList.length; i < LtLgLen; i++) {
                                    if(!(LatLngList[i]===null) && typeof LatLngList[i] != 'undefined'){
                                        bounds.extend (LatLngList[i]);
                                    }
                                }
                                
                                if(isZoomOnLoad) {
                                
                                    map.fitBounds (bounds);
                                    isZoomOnLoad = false;
                                }
                            }
                            refreshSidebar();
                            
                            if(timeOut) {
                                clearTimeout(timeOut);
                                timeOut = null;
                            }
                        
                            timeOut = setTimeout(timedRefreshMap, 300000);
                    }
                    if(noOrdersAvail == true){
                        refreshMapOverlay();
                        modalWin();
                    }
                }
            );
        }
        
        function controlSelection(btnId) {
        
            if(btnId == 'deSelBtn') {
                
                wo_selection = {};
                
                for(k in markers) {
                    
                    var m = markers[k];
                    
                    if(m._id != contactId)
                        drawMarker(m._latLng.lat(),m._latLng.lng(),m.Id, m.WON,m.color,m.ownerName, m.ownerAlias, m.SSAMapIcon);
                }
                
                var selOrders = document.getElementById('pg:frm:pb:selCount');
                var selCnt = 0;
                selOrders.innerHTML = selCnt ;
                
                if(parseInt(selOrders.innerHTML)<=0){
                    jQuery("#deSelBtn").hide();
                }else{
                    jQuery("#deSelBtn").show();
                }
            }
            refreshMapOverlay();
            refreshSidebar();
        }
        
        function closeConfirmation() {
            hidePopup();
            hideProgress();
            isFlag=true;
            var selOrders = document.getElementById('pg:frm:pb:selCounter');
            selOrders.innerHTML = 0;
            drawMap(map.getCenter(),map.getZoom());
            isTimedRefresh = true;
        }
        
        function ordersToBeClaimed() {
            
            isTimedRefresh=false;
            var selectedOrders = '';
            
            for(k in wo_selection) {
            
                selectedOrders += wo_selection[k].WON+',';
            }
            
            if(selectedOrders.lastIndexOf(',') == selectedOrders.length-1) {
                selectedOrders = selectedOrders.substring(0, selectedOrders.length-1);
            }
            if(selectedOrders == '') {
                alert("Please select Work Orders to claim.");
                isTimedRefresh=true;
            } else {
                getOrdersToBeClaimed(selectedOrders);
            }
        }
        
        function refreshButtons(callNum) {

            var infoMessage = document.getElementById('pg:frm:pb:infoMessag');
            
            if(callNum == 2){
                if(infoMessage.innerHTML == '{!$Label.VOAM_WARN_SELECT_ANOTHER}') {
                            
                    jQuery("#claimRemain").hide();
                    jQuery("#claim").hide();
                    jQuery("#rtrnOS").hide();
                    jQuery("#ok").show();
                }
            } else if(callNum == 1) {
                
                jQuery("#claimRemain").hide();
                jQuery("#claim").hide();
                jQuery("#rtrnOS").hide();
                jQuery("#ok").show();
            }
        }
        
        function modalWin() {
            jQuery( "#dialog" ).dialog("open");
        }
        
        function timedRefreshMap() {
            
            if(isTimedRefresh) {
                            
                prevSelectedOrder = {};
                for(k in wo_selection) {
                    
                    prevSelectedOrder[k] = wo_selection[k];
                }
                
                drawMap(map.getCenter(),map.getZoom());
            }
        }
    </script>
    <div id="dialog" style="display:none">
        <iframe id="dialogContent" src="{!$Page.WarningTimeZoneMap}"/>
    </div>
    <apex:outputPanel id="dynamicScripts">
    <script>
        function refreshSidebar(){
        
            var selOrdersElement = document.getElementById('pg:frm:pb:selCount');
            var currntOrdersElement = document.getElementById('pg:frm:pb:currntOrders');
            
            var limitMessage = document.getElementById('pg:frm:pb:limitAssign');
            var totalLimit = {!currentUser.Contact.Grass_Cut_Cap__c};
            var currentlyAssigned = {!currentUser.Contact.Order_Count__c};
            var selCnt = 0;
            for(k in wo_selection) {
                selCnt += 1;
            }
            if(selCnt <= 0){
                jQuery("#deSelBtn").hide();
            }else{
                jQuery("#deSelBtn").show();
            }
            selOrdersElement.innerHTML = selCnt ;
            currntOrdersElement.innerHTML = currentlyAssigned;
            
            var selectMax = totalLimit - currentlyAssigned;
            if(selectMax <= 0){
                limitMessage.innerHTML = "<span style=\"color:red;\">Can't claim any more today. You have already assigned your limit.</span>";
                jQuery("#claimButton").hide();
                return;
            }
            
            var avail = (selectMax - selCnt);
            if(avail<0){
                limitMessage.innerHTML = "<span style=\"color:red;\">Too many orders selected please deselect "+(-avail)+" orders.</span>";
                jQuery("#claimButton").hide();
            }else if (avail > 1){
                limitMessage.innerHTML = "You may select and claim "+(avail)+" more orders.";
                isBlink=false;
                jQuery("#claimButton").show();
            }else if (avail == 1){
                limitMessage.innerHTML = "You may select and claim "+(avail)+" more order.";
                isBlink=false;
                jQuery("#claimButton").show();
            }
            else{
                limitMessage.innerHTML = "You have selected your limit of orders. Click the \"Claim Orders\" button to claim these orders.";
                isBlink=true;
                jQuery("#claimButton").show();
                blink("#claimButton", -1, 500);
            }
        }
       
        function blink(elem, times, speed) {
            
            if(isBlink) {
                if (times > 0 || times < 0) {
                    
                    if (jQuery(elem).hasClass("ui-state-hover")) {
                        
                        jQuery(elem).removeClass("ui-state-hover");
                    } else{
                        
                        jQuery(elem).addClass("ui-state-hover");
                    }
                }
            
                clearTimeout(function () {
                    blink(elem, times, speed);
                });
            
                if (times > 0 || times < 0) {
                    setTimeout(function () {
                        blink(elem, times, speed);
                    }, speed);
                    times -= .5;
                }
            } else {
                jQuery(elem).removeClass("ui-state-hover");
            }
        }
    </script>
    </apex:outputPanel>
    <div id="spinner">
        <div class="inner"><p>Working...</p></div>
    </div>
    
    <apex:form id="frm">

        <apex:actionFunction action="{!refreshUser}" name="refreshUser" rerender="dynamicScripts" oncomplete="refreshSidebar();" />
        
        <apex:actionFunction action="{!getOrdersToBeClaimed}" oncomplete="refreshButtons(2);" name="getOrdersToBeClaimed" reRender="popup,dynamicScripts" immediate="true">
            <apex:param value="" assignTo="{!ordersJSON}" name="assignOrders"/>
        </apex:actionFunction>
        
        <apex:actionFunction action="{!closePopup}" name="hidePopup" reRender="popup,claimRemained" immediate="true"/>
        
        <apex:pageBlock id="pb" title="Vendor Self Assignment Map">
        
        <apex:pagemessages />
            
            <apex:outputPanel id="outerPanel">
                <table width="100%" cellspacing="0" border="0" style="border: 1px solid  #0B0B0B;background:linear-gradient(to bottom,#CFE2F3,white);" >
                    <tr>
                        <td valign="top">
                            <apex:outputPanel >
                            <div style="overflow:hidden;">
                                <div style="float:left;border-right:2px solid  #0B0B0B;height:600px;width:210px;">
                                    <div class="sidebarModuleHeader brandPrimaryBgr ui-widget-header">
                                        <h2 class="brandPrimaryFgr">{!currentUser.Name}</h2>
                                    </div>
                                    <div class="sidebarModuleBody">
                                        <div id="mapKeyContainer">
                                        <h2>Map Key:</h2>
                                        <table id="legend-table" cellspacing="0" border="1" style="background:linear-gradient(to bottom,white,whitesmoke);width:100%;">
                                            <tr class="ui-widget-header">
                                                <th style="width:8px;">Icon</th>
                                                <th>Description</th>
                                            </tr>
                                        </table>
                                        </div>
                                        <hr/>
                                        <apex:outputLabel value="Current Orders : " style="font-weight:bold;"/>
                                        <apex:outputText id="firstName" value="{!currentUser.ContactId}" style="display:none;"/>
                                        <apex:outputText id="lastName" value="{!currentUser.ContactId}" style="display:none;"/>
                                        <apex:outputText id="address" value="{!currentUser.Contact.OtherStreet} {!currentUser.Contact.OtherCity} {!currentUser.Contact.OtherState}, {!currentUser.Contact.OtherPostalCode}" style="display:none;"/>
                                        <apex:outputText id="addressLat" value="{!currentUser.Contact.Other_Address_Geocode__Latitude__s}" style="display:none;"/>
                                        <apex:outputText id="addressLon" value="{!currentUser.Contact.Other_Address_Geocode__Longitude__s}" style="display:none;"/>
                                        <apex:outputText id="conSrvcRange" value="{!currentUser.Contact.Service_Range__c}" style="display:none;"/>
                                        <apex:outputText value="{!currentUser.Contact.Order_Count__c}" id="currntOrders"/><br/>
                                        <apex:outputLabel value="Order Limit: " style="font-weight:bold;"/>
                                        <apex:outputText value="{!currentUser.Contact.Grass_Cut_Cap__c}" id="orderLimit"/><br/>
                                        <apex:outputLabel value="Selected Orders : " style="font-weight:bold;"/>
                                        <apex:outputText value="{!selectedOrders}" id="selCount"/>
                                        
                                        <input id="claimButton" type="button" class="btn" style="width:100%;" onclick="ordersToBeClaimed();" value="Claim Orders!"/><br/>
                                        <apex:outputText value="{!limitMessage}" id="limitAssign" style="font-color:black;font-weight:bold;"/><br/>
                                        <div  style="overflow:auto;height:450px">

                                        </div>
                                    </div>
                                </div>
                               <div>
                                    <div id="map_overlay_buttons">
                                        <center>
                                            <div id="panel" >
                                            
                                                <input style="height: 33px; width:auto;" onclick="controlSelection(this.id);" type="button" value="Deselect All" id="deSelBtn" class="btn"/>
                                            </div>
                                        </center>
                                    </div>
                                    <div id="map_div" style="height:600px;width:auto;"></div>
                                </div>
                            </div>
                            </apex:outputPanel>
                        </td>
                    </tr>
                </table>
            </apex:outputPanel>
            <apex:outputPanel id="popup" style="width:auto;">
                  <apex:outputPanel id="popInnerOutputPnl" styleClass="customPopup" layout="block" rendered="{!displayPopup}">
                    <div class="bootstrap-frm">
                       <center><h1>Claim Confirmation</h1></center>
                        <hr/>
                        <center><b>Orders Selected: <span style="font-size:11px;"> <apex:outputText value="{!selCounter}" id="selCounter"/> </span></b></center>
                        <hr/>
                        <div class="class-check"> <input id="checkAssignment" type="checkbox" /></div>
                        <div style="margin-left: 8%;">
                            I agree that I will complete and submit all claimed orders today. I understand orders not submitted today are subject to the <a href="https://northsight.my.salesforce.com/articles/Vendor_Instruction/Late-and-Reassignment-Fee-Schedule" target="_blank"> late and reassignment fee schedule.</a>
                        </div>
                    </div>
                    
                    <div id="error-msg" style="display:none;" class="bootstrap-frm">
                       <span style="color:#d9534f;"> You must agree to the terms in order to claim orders.</span>   
                    </div>
                    <table id="assignTbl" align="center" border="0" cellspacing="0" class="bootstrap-frm-tbl">
                       
                        <tr>
                            <td align="middle" style="height:50px;">
                                
                                <apex:outputPanel id="claimRemained">
                                    <table>
                                        <tr>
                                            <td>
                                                <div id="result"></div>
                                                <apex:outputPanel >    
                                                    <apex:outputText value="{!infoMessage}" id="infoMessag"/>
                                                </apex:outputPanel>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <center>
                                                    <apex:outputPanel rendered="{!checkAvailable}">    
                                                        <input style="height: 36px;width: auto;border-radius: 12px;background-color: skyblue;cursor:pointer;" type="button" onclick="assignWOToOwner();" value="Claim Remaining" id="claimRemain"/>
                                                    </apex:outputPanel>
                                                    <apex:outputPanel rendered="{!IF(checkAvailable== false, true, false)}">    
                                                       <span id="claimspan" style="height: 36px;width: auto;"> <input style="height: 36px;width: auto;border-radius: 12px;" type="button" onclick="assignWOToOwner();" value="Claim" id="claim" disabled="disabled" /></span>
                                                    </apex:outputPanel>
                                                    <input style="height: 36px;width: auto;border-radius: 12px;background-color: skyblue;cursor:pointer;" type="button" onclick="closeConfirmation();" value="Cancel" id="rtrnOS"/>
                                                    <input style="height: 36px;width: auto;border-radius: 12px;background-color: skyblue;cursor:pointer;" type="button" onclick="closeConfirmation();" value="OK" id="ok" hidden="true"/>
                                                
                                                </center>
                                            </td>
                                        </tr>
                                    </table>
                                    <script>
                                        jQuery('#checkAssignment').click(function () {
                                            if(jQuery('#checkAssignment').is(':checked')){
                                                //alert("a");
                                                jQuery('#claim').addClass('active');
                                                jQuery('#claim').removeAttr("disabled");
                                                jQuery('#error-msg').hide();
                                            }
                                            else{
                                                jQuery('#claim').prop('disabled', true);
                                                jQuery('#claim').removeClass('active');
                                            }
                                                
                                            });
                                        jQuery('#claimspan').click(function () {
                                            
                                            if(jQuery('#checkAssignment').is(':checked')){
                                                jQuery('#error-msg').hide();
                                            }
                                            else{
                                                jQuery('#error-msg').show();
                                            }
                                        
                                        });
                                    </script>
                                    
                                </apex:outputPanel>
                            </td>
                        </tr>
                    </table>
                   
        
                </apex:outputPanel>
            </apex:outputPanel>
        </apex:pageBlock>
        
    </apex:form>
</apex:page>