<apex:page sidebar="false" showHeader="false" cache="true" contentType="application/vnd.ms-excel#WorkOrdersExport_{!date_string}.xls"  controller="WorkOrderExportPrint" readonly="true">
	<apex:dataTable styleClass="stopsTable" value="{!export_list}" var="item">
		<apex:column headerValue="Work Order #"><a href="{!LEFT($CurrentPage.URL,FIND('/',$CurrentPage.URL,9))}{!item.wo.id}">{!item.wo.casenumber}</a></apex:column>
		<apex:column headerValue="Scheduled Date">{!item.formattedDate}</apex:column>
		<apex:column headerValue="Street Address">{!item.wo.Street_Address__c}</apex:column>
		<apex:column headerValue="City" >{!item.wo.City__c}</apex:column>
		<apex:column headerValue="State">{!item.wo.State__c}</apex:column>
		<apex:column headerValue="Zip Code">{!item.wo.Zip_Code__c}</apex:column>
		<apex:column headerValue="Work Ordered">{!item.wo.Work_Ordered__c}</apex:column>
		<apex:column headerValue="Status">{!item.wo.Vendor_Status__c}</apex:column>
		<apex:column headerValue="Client Number">{!item.wo.Client_Number__c}</apex:column>
		<apex:column headerValue="Notes">{!item.wo.Notes__c}</apex:column>
	</apex:dataTable>
</apex:page>