.inlineLabel{
    display:inline-block;
}
.fixedWidth50{
    width:50px;
}
.fixedWidth75{
    width:50px;
}
#geocodeStatusContainer{
    height:25px;
}
.flag{
    color:#aa0000;
    font-weight:bold;
}
.evenRow{
 background-color:#eeeeee;
}
.WOTable{
 background-color:#ffffff;
}
#QTable > tbody > tr:hover{
 background-color:#ddddff;
}
#QTable {
    border-collapse: separate;
    border-spacing: 2px;
    border-color: gray;
}
#QTable th {
    background: #F2F3F3;
}
#map_container {
    height: 420px;
    width: 100%;
}
#map_div {
    width:90%;
    height:90%;
    margin:0;
    background-color: green;
}
div#spinner
{
    display: none;
    width:100px;
    height: 100px;
    position: fixed;
    top: 50%;
    left: 50%;
    background:url({!URLFOR($Resource.TSP, 'loading.gif')}) no-repeat center #fff;
    text-align:center;
    padding:10px;
    font:normal 16px Tahoma, Geneva, sans-serif;
    border:1px solid #666;
    margin-left: -50px;
    margin-top: -50px;
    z-index:2;
    overflow: auto;
}
.inner {
    display: table;
    height:100px;
    width:100%;
}
.inner p {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}