#blanket {
   background-color:#111;
   opacity: 0.65;
   position:absolute;
   z-index: 3;
   top:0px;
   left:0px;
   width:100%;
}
#addPopup {
	position:absolute;
	background-color:white;
	z-index: 3;
	top: 20%; 
	left: 25%;
	border-radius: 10px;
}
#addVendorPopup {
	position:fixed;
	background-color:white;
	z-index: 3;
	height: auto;
	width: auto;
	top: 20%; 
	left: 25%;
	border-radius: 10px;
}
#copyAllPopup {
	position:fixed;
	background-color:white;
	z-index: 3;
	height: auto;
	width: auto;
	top: 15%; 
	left: 22%;
}
#copyBox {
	max-height:450px;
	width:auto;
	overflow-y:auto;
	overflow-x:hidden;
}
#editAllClientPopup {
	position:fixed;
	background-color:white;
	z-index: 3;
	height: auto;
	width: 854px;
	top: 20%; 
	left: 22%;
}
#editAllPopup {
	position:fixed;
	background-color:white;
	z-index: 3;
	height: auto;
	top: 15%; 
	left: 22%;
}
#editBox {
	max-height:450px;
	width:854px;
	overflow-y:auto;
	overflow-x:hidden;
}
.boxheader {
	background: #DEDEDE;
	border: black 1px solid;
	padding:6px;
	color:black;
	font-weight:bold;
	border-radius: 6px;
}
#overlay {
     visibility: hidden;
     position:fixed;
	 top: 20%; 
	 width:100%;
     height:100%;
     text-align:center;
     z-index: 1000;
}
#overlay div {
     width:300px;
     margin: 0px auto;
     background-color: #F2F3F3;
     border:1px solid #000;
     padding:15px;
     text-align:center;
}
.custom-combobox {
    position: relative;
    display: inline-block;
    vertical-align: top;
}
.custom-combobox-toggle {
    position: absolute;
    top: 0;
    bottom: 0;
    margin-left: -1px;
    padding: 0;
}
.custom-combobox-input {
    margin: 0;
    padding: 5px 10px;
    width : 60%;
}