.allText{
	font-size: 12px;
}
textarea:disabled {
	background: whitesmoke;
	color: dimgrey;
	border: 1px solid lightgray;
}
#combobox {
  display: none;
}
.custom-combobox {
  position: relative;
  display: inline-block;
  width: 100%;
}
.disabled .even, .disabled .odd{
	background: whitesmoke;
	color: gray;
}
.custom-combobox-toggle {
  position: absolute;
  top: 0;
  bottom: 0;
  margin-left: -2.3em;
  padding: 0;
  border-radius: 0;
  background: none;
  /* support: IE7 */
  *height: 1.7em;
  *top: 0.1em;
}
.custom-combobox-input {
  margin: 0;
  padding: 0.1em;
  border-radius: 0;
  box-sizing: border-box;
  background: none;
  color: #338EF5;
  /* the font-weight declared at the top has a high specificity due
  to needing to override the jquery styles ..thus the current !important */
  font-weight: 400 !important;
  width: 100%;
}
.ui-autocomplete {
	max-height:200px;
	overflow-y:auto;
	overflow-x:hidden; !important;
}
.editMode .slick-row.even{
	background-color:#ddddff;
}
.noresize{
     resize:none;
     width:100%;
     box-sizing: border-box;
	 padding: 0px 1px !important;
}
.editMode, .editMode .slick-row.odd{
	background-color:#eeeeff;
}
.headerBox{
	background-color: #444444;
	color: #FFFFFF;
	height:30px;
	font-weight:bold;
}
.bold{
	font-weight: bold;
}
.info{
	display: inline-block;
	margin: .7em;
}
.info-full{
}
.infoValue{
    margin-left: .2em
}
.table-info{
	display: inline-block;
	width: 170px;
        padding: 1em 1em 0em 1em;
        box-sizing:border-box;
    min-height:80px;
}
.table-info table td:nth-child(odd) {
text-align: right;
}
.container {
	overflow:hidden;
}
.column-content
{
	width:100%;
	display: inline-block;
        box-sizing:border-box;
}
.title-section{
	color: #666666;
	font-size: 16px;
	font-weight: bolder;
	margin-top: 10px;
	display: inline-block;
}
.title-header{
	font-size: 13px;
}
.to-right{
	float: right;
}
.table-info a{
	color: #1974fa;
}
.border {
	border-style: solid;
	border-width: 1px;
	border-color: #D3D3D3;
	background-color:whitesmoke;
}
.newInvoiceButton{
	float: right;
	margin-top: 5px;
	/*margin-right: 10px;*/
	font-size: 1.1em;
	color: black;
	background: #ddddff;
	background: -moz-linear-gradient(top,#ffffff 0%,#ddddff 50%);
	background: -webkit-gradient(linear,left top,left bottom,color-stop(0%,#ffffff),color-stop(50%,#ddddff));
	background: -webkit-linear-gradient(top,#ffffff 0%,#ddddff 50%);
	background: -o-linear-gradient(top,#ffffff 0%,#ddddff 50%);
	background: -ms-linear-gradient(top,#ffffff 0%,#ddddff 50%);
	background: linear-gradient(top,#ffffff 0%,#ddddff 50%);
        filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#ffffff',endColorstr='#ddddff',GradientType=0);
}
.newInvoiceButton.disabled,button:disabled.newInvoiceButton{
	color: darkgray;
	background: #dddddd;
	background: -moz-linear-gradient(top,#eeeeee 0%,#dddddd 50%);
	background: -webkit-gradient(linear,left top,left bottom,color-stop(0%,#ffffff),color-stop(50%,#dddddd));
	background: -webkit-linear-gradient(top,#eeeeee 0%,#dddddd 50%);
	background: -o-linear-gradient(top,#eeeeee 0%,#dddddd 50%);
	background: -ms-linear-gradient(top,#eeeeee 0%,#dddddd 50%);
	background: linear-gradient(top,#eeeeee 0%,#dddddd 50%);
        filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#dddddd',endColorstr='#dddddd',GradientType=0);

}
.three {
	width:300px;
}
.total{
	text-align: center;
	width:20%;
}
.full{
	padding-left:20%;
	padding-top: 10px;
	width:60%;
}
.no-padding{
	padding-left:0px;
}
.ui-state-default slick-header-column slick-header-sortable{
	background-color: #444444;
}
.styled-button-8 {
	color: black;
	background: #ddddff;
	background: -moz-linear-gradient(top,#ffffff 0%,#ddddff 50%);
	background: -webkit-gradient(linear,left top,left bottom,color-stop(0%,#ffffff),color-stop(50%,#ddddff));
	background: -webkit-linear-gradient(top,#ffffff 0%,#ddddff 50%);
	background: -o-linear-gradient(top,#ffffff 0%,#ddddff 50%);
	background: -ms-linear-gradient(top,#ffffff 0%,#ddddff 50%);
	background: linear-gradient(top,#ffffff 0%,#ddddff 50%);
        filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#ffffff',endColorstr='#ddddff',GradientType=0);
	padding:5px 5px;
	font-family:'Helvetica Neue',sans-serif;
	font-size:12px;
	border-radius:4px;
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
	border:1px solid dimgray;
}
.slick-cell.editable {
	padding: 0px;
}
.slick-cell.editable input.editor-text{
	box-sizing: border-box;
	width:100%;
	height:100%;
}
.panelInvoice {
	float: left;
	width: 50%;
    box-sizing:border-box;
    padding:2px;
}
.single {
	margin-left: 25%;
}
body, td{
	line-height:20px;
}
body, td , input, select, button,option, .slick-cell, .slick-header{
	font-family: Helvetica, Arial, Sans-serif;
	font-size:12px;
	color:#4a4a56;
}
.ui-widget{
	font-size:1em!important;
}
.ui-widget-content.slick-row.locked-row .slick-cell {
    font-style: italic;
    color:grey
}