.box-table-a{font-family:"Lucida Sans Unicode", "Lucida Grande", Sans-Serif;font-size:12px;width:99%;text-align:left;border-collapse:collapse;margin:20px;}
.box-table-a th{font-size:13px;font-weight:normal;background:#4F81BD;border-right:2px solid #fff;border-bottom:4px solid #fff;color:white;padding:8px;}
.box-table-a td{border-bottom:2px solid #fff;border-right:2px solid #fff;border-top:1px solid transparent;padding:8px;}
.box-table-a tr:hover td{background:#d0dafd;color:#339;}
.box-table-a tr:nth-child(odd){ background: #E9EDF4;}
.box-table-a tr:nth-child(even){background: #D0D8E8;}
.middleSection{margin-top:10px;}
.main-content{width:70%;border:1px solid black;overflow:auto;margin-left: 30px;}
.first-content{width:50%;float:left;border-right:1px solid black;}
.second-content{width:49.8%;float:left;}
.main-content .header1{border-bottom:1px solid black;text-align:center;}
.headerLabel{text-transform:uppercase;font-size:18px;font-weight:bold;}
.inner-second{padding-top:10px;}
.inner-second label{display:block;margin-top: -17px;margin-left: 14px;}
.inner-third{padding-left:27px;}
.tooltip {position: relative;display: inline-block;text-decoration: underline;color: #0066cc;outline: none;}
.tooltip span {visibility: hidden;position: absolute;bottom: 30px;left: 50%;z-index: 999;width: 230px;margin-left: -127px;padding: 10px;border: 2px solid #ccc;opacity: .9;background-color: #D4D4FF;}
.tooltip:hover span {visibility: visible;}
.tooltip span:before,.tooltip span:after{content: "";position: absolute;z-index: 1000;bottom: -7px;left: 50%;margin-left: -8px;border-top: 8px solid #ddd;border-left: 8px solid transparent;border-right: 8px solid transparent;border-bottom: 0;}
body .bEditBlock .pbBody .pbSubheader {border-top: none;font-size: 10pt;background-color: lightblue;}