#blanket {
   background-color:#111;
   opacity: 0.65;
   position:absolute;
   z-index: 3;
   top:0px;
   left:0px;
   width:100%;
}
#popUpDueDiv {
    position:absolute;
    background-color:white;
    width:300px;
    height:300px;
    top:400px;
    z-index: 3;
    border-radius:6px;
}
#popUpScheduleDiv {
    position:absolute;
    background-color:white;
    width:300px;
    height:300px;
    top:400px;
    z-index: 3;
    border-radius:6px;
}
#popUpDivOpenDateTime {
    position:absolute;
    background-color:white;
    width:300px;
    height:300px;
    top:400px;
    z-index: 3;
    border-radius:6px;
}
#popUpDivSetAssignProg {
    
    position:absolute;
    background-color:white;
    width:300px;
    height:300px;
    top:400px;
    z-index: 3;
    border-radius:6px;
}
#popUpDivAssignDateTime {
    position:absolute;
    background-color:white;
    width:300px;
    height:300px;
    top:400px;
    z-index: 3;
    border-radius:6px;
}
.boxheader {
    background: #6D84B4;
    border: #3B5998 1px solid; border-bottom:none;
    padding:6px;
    color:#FFF;
    font-weight:bold;
    border-radius:4px;
}
.myButton {
    -moz-box-shadow:inset 0px 1px 0px 0px #dcecfb;
    -webkit-box-shadow:inset 0px 1px 0px 0px #dcecfb;
    box-shadow:inset 0px 1px 0px 0px #dcecfb;
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #bddbfa), color-stop(1, #80b5ea));
    background:-moz-linear-gradient(top, #bddbfa 5%, #80b5ea 100%);
    background:-webkit-linear-gradient(top, #bddbfa 5%, #80b5ea 100%);
    background:-o-linear-gradient(top, #bddbfa 5%, #80b5ea 100%);
    background:-ms-linear-gradient(top, #bddbfa 5%, #80b5ea 100%);
    background:linear-gradient(to bottom, #bddbfa 5%, #80b5ea 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#bddbfa', endColorstr='#80b5ea',GradientType=0);
    background-color:#bddbfa;
    -moz-border-radius:6px;
    -webkit-border-radius:6px;
    border-radius:6px;
    border:1px solid #84bbf3;
    display:inline-block;
    cursor:pointer;
    color:#ffffff;
    font-family:arial;
    font-size:15px;
    font-weight:bold;
    padding:6px 7px;
    text-decoration:none;
    text-shadow:0px 1px 0px #528ecc;
}
.myButton:hover {
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #80b5ea), color-stop(1, #bddbfa));
    background:-moz-linear-gradient(top, #80b5ea 5%, #bddbfa 100%);
    background:-webkit-linear-gradient(top, #80b5ea 5%, #bddbfa 100%);
    background:-o-linear-gradient(top, #80b5ea 5%, #bddbfa 100%);
    background:-ms-linear-gradient(top, #80b5ea 5%, #bddbfa 100%);
    background:linear-gradient(to bottom, #80b5ea 5%, #bddbfa 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#80b5ea', endColorstr='#bddbfa',GradientType=0);
    background-color:#80b5ea;
}
.myButton:active {
    position:relative;
    top:1px;
}
.dateBtn {
    -moz-box-shadow:inset 0px 1px 0px 0px #ffffff;
    -webkit-box-shadow:inset 0px 1px 0px 0px #ffffff;
    box-shadow:inset 0px 1px 0px 0px #ffffff;
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ffffff), color-stop(1, #f6f6f6));
    background:-moz-linear-gradient(top, #ffffff 5%, #f6f6f6 100%);
    background:-webkit-linear-gradient(top, #ffffff 5%, #f6f6f6 100%);
    background:-o-linear-gradient(top, #ffffff 5%, #f6f6f6 100%);
    background:-ms-linear-gradient(top, #ffffff 5%, #f6f6f6 100%);
    background:linear-gradient(to bottom, #ffffff 5%, #f6f6f6 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#f6f6f6',GradientType=0);
    background-color:#ffffff;
    -moz-border-radius:6px;
    -webkit-border-radius:6px;
    border-radius:6px;
    border:2px solid #dcdcdc;
    display:inline-block;
    cursor:pointer;
    color:#666666;
    font-size:12px;
    font-family: serif;
    padding:6px 6px;
    text-decoration:none;
    text-shadow:0px 1px 0px #ffffff;
    width:235px;
    white-space:normal;
    margin: 2px 2px 2px 2px;
}
.dateBtn:hover {
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #f6f6f6), color-stop(1, #ffffff));
    background:-moz-linear-gradient(top, #f6f6f6 5%, #ffffff 100%);
    background:-webkit-linear-gradient(top, #f6f6f6 5%, #ffffff 100%);
    background:-o-linear-gradient(top, #f6f6f6 5%, #ffffff 100%);
    background:-ms-linear-gradient(top, #f6f6f6 5%, #ffffff 100%);
    background:linear-gradient(to bottom, #f6f6f6 5%, #ffffff 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#f6f6f6', endColorstr='#ffffff',GradientType=0);
    background-color:#f6f6f6;
}
.dateBtn:active {
    position:relative;
    top:1px;
}

body{
    margin: 0;
    padding: 0;
    overflow: hidden;
}

table.sortable thead {
    background-color:#A4C2F4;
    color:#FFFF;
    font-weight: bold;
    cursor: default;
}
.customPopup {

    background-color: white;
    border-style: solid;
    border-width: 2px;
    left: 17%;
    padding: 4px;
    position: absolute;
    z-index: 9999;
    /* These are the 3 css properties you will need to tweak so the pop 
			    up displays in the center of the screen. First set the width. Then set 
			    margin-left to negative half of what the width is. You can also add 
			    the height property for a fixed size pop up.*/
    top: 30%;
}
.disabledTextBox {
    background-color: white;
    border: 1px solid;
    color: black;
    cursor: default;
    width: 90px;
    display: table;
    padding: 2px 1px;
    text-align:right;
}   
.closeButton {
    float: right;
}
.labels {
    border-radius:50%;
    cursor: pointer; 
    color: black;
    background-color:white;
    font-family: "Lucida Grande", "Arial", sans-serif;
    font-size: 8pt;
    font-weight: normal;
    text-align: center;
    min-width: 7px;
    min-height:7px;
    margin:0px;     
    border: 1px solid black;
    white-space: nowrap;
    padding:0px;
    opacity:1.0;
}
div.labels label.abc{
	
	display:inline-block;
	visibility:hidden;
}
.inner {
    display: table;
    height:100px;
    width:100%;
}
#pg\:frm\:pb\:pbs\:controlGroup1>*{
    vertical-align:top;
}
#map_overlay_buttons {
    margin-left: 190px;
    margin-top: 10px;
    position: absolute;
    z-index: 2;
}
.dateFormat {
    display:none;
}
.controls {
	margin-top: 4px;
	border: 1px solid transparent;
	border-radius: 2px 0 0 2px;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	height: 32px;
	outline: none;
	box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
}
#pac-input {
	background-color: #fff;
	padding: 0 11px 0 13px;
	width: 160px;
	font-family: Roboto;
	font-size: 15px;
	font-weight: 300;
	text-overflow: ellipsis;
	position: absolute;
}
#pac-input:focus {
	border-color: #4d90fe;
	margin-left: -1px;
	padding-left: 14px;  /* Regular padding-left + 1. */
	width: 160px;
}
.pac-container {
	font-family: Roboto;
}
.ui-autocomplete {
	max-height: 200px;
	overflow-y: auto;
	/* prevent horizontal scrollbar */
	overflow-x: hidden;
}
.contactSM {
  	background: url('/resource/1401347052000/OAM_AutoSearchImage/Contact.png') right center no-repeat;
	background-size:20px 20px;
}
.contactSM:hover {
  	background: url('/resource/1401347052000/OAM_AutoSearchImage/Contact.png') right center no-repeat;
	background-size:20px 20px;
}
.orderSM {
  	background: url('/resource/1401347052000/OAM_AutoSearchImage/Order.png') right center no-repeat;
	background-size:20px 20px;
}
.orderSM:hover {
  	background: url('/resource/1401347052000/OAM_AutoSearchImage/Order.png') right center no-repeat;
	background-size:20px 20px;
}
.googleSM {
  	background: url('/resource/1401347052000/OAM_AutoSearchImage/Google.png') right center no-repeat;
	background-size:20px 20px;
}
.googleSM:hover {
  	background: url('/resource/1401347052000/OAM_AutoSearchImage/Google.png') right center no-repeat;
	background-size:20px 20px;
}
.truckIcon {

    background-image: url('/resource/1398713767000/VendorTruck');
    background-size: 40px 45px;
    background-repeat:no-repeat;
    background-position: 0px -10px;
    font-family: "Lucida Grande", "Arial", sans-serif!important;
    font-size: 8pt;
    font-weight: bold!important;
    width: 41px;
    height: 20px;
    margin: -20px -5px 0px -5px;
    white-space: nowrap;
    padding: 4px 0px 0px 6px;
    opacity: 1.0;
    position: absolute!important;
    cursor: pointer;
}
.truckIconAlias {

    background-image: url('/resource/1398713767000/VendorTruck');
    background-size: 44px 45px;
    background-repeat:no-repeat;
    background-position: 0px -10px;
    font-family: "Lucida Grande", "Arial", sans-serif!important;
    font-size: 7pt;
    font-weight: bold!important;
    width: 44px;
    height: 20px;
    margin: -20px -5px 0px -7px;
    white-space: nowrap;
    padding: 4px 0px 0px 2px;
    opacity: 1.0;
    position: absolute!important;
    cursor: pointer;
}
.mainVendorDetail {
    background:white;
    height: 100px;
    width:170px;
    position: absolute;
    z-index: 100;
    display:none;
    overflow:auto;
    border-style:inset;
}

.tooltip {
	position: relative;
	display: inline-block;
	text-decoration: underline;
	color: #0066cc;
	outline: none;
}
.tooltip span {
	visibility: hidden;
	position: absolute;
	top: 15px;
	left: 170%;
	z-index: 999;
	width: 160px;
	margin-left: -127px;
	padding: 10px;
	border: 2px solid #ccc;
	opacity: .9;
	background-color: white;
}
.tooltip:hover span {
	visibility: visible;
}
.tooltip span:before,.tooltip span:after{
	content: "";
	position: absolute;
	z-index: 1000;
	top: -9px;
	left: 50%;
	margin-left: -8px;
	border-top: 0;
	border-left: 8px solid transparent;
	border-right: 8px solid transparent;
	border-bottom:11px solid #ddd;
}