textarea:disabled {
background: whitesmoke;
color: dimgrey;
border: 1px solid lightgray;
}
.editMode .slick-row.even{
	background-color:#ddddff;
}
.noresize{
     resize:none;
     width:100%;
}
.editMode, .editMode .slick-row.odd{
	background-color:#eeeeff;
}
.headerBox{
	background-color: #444444;
	color: #FFFFFF;
	height:30px;
	font-weight:bold;
}
.bold{
	font-weight: bold;
}
.info{
	display: inline-block;
	margin: 1em;
}
.info-full{
}
.table-info{
	display: inline-block;
	width: 170px;
        padding: 1em 1em 0em 1em;
        box-sizing:border-box;
    min-height:80px;
}
.table-info table td:nth-child(odd) {
text-align: right;
}
.container {
	overflow:hidden;
}
.column-content
{
	width:100%;
	display: inline-block;
        box-sizing:border-box;
}
.title-section{
color: #666666;
font-size: 20px;
font-weight: bolder;
margin-top: 10px;
display: inline-block;
    
}
.title-header{
	font-size: 13px;
}
.to-right{
	float: right;
}
.table-info a{
	color: #1974fa;
}
.border {
	border-style: solid;
	border-width: 2px;
	border-color: #7e7e7e;
	background-color:whitesmoke;
}
.three {
	width:300px;
}
.total{
	text-align: center;
	width:20%;
}
.full{
	padding-left:20%;
	padding-top: 10px;
	width:60%;
}
.no-padding{
	padding-left:0px;
}
.ui-state-default slick-header-column slick-header-sortable{
	background-color: #444444;
}
.styled-button-8 {
	color: black;
	background: #ddddff;
	background: -moz-linear-gradient(top,#ffffff 0%,#ddddff 50%);
	background: -webkit-gradient(linear,left top,left bottom,color-stop(0%,#ffffff),color-stop(50%,#ddddff));
	background: -webkit-linear-gradient(top,#ffffff 0%,#ddddff 50%);
	background: -o-linear-gradient(top,#ffffff 0%,#ddddff 50%);
	background: -ms-linear-gradient(top,#ffffff 0%,#ddddff 50%);
	background: linear-gradient(top,#ffffff 0%,#ddddff 50%);
        filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#ffffff',endColorstr='#ddddff',GradientType=0);
	padding:10px 10px;
	font-family:'Helvetica Neue',sans-serif;
	font-size:14px;
	border-radius:4px;
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
	border:1px solid dimgray;
}
.panelInvoice {
	float: left;
	width: 50%;
        box-sizing:border-box;
        padding:2px;
}