.hidesearchbutton .nx-field-reference-search{	
    display:none;
	}
select{height: 28.63px;
       width:85.31px;
	}
	
.servicesubtitle{
    margin-left:10px;
    margin-bottom:15px;
    font-weight:700;
    text-align:left;
}
.dot {
  height: 6px;
  width: 6px;
  background-color: black;
  border-radius: 50%;
  display: inline-block;
  margin-bottom:3px;
}
.additionalspacing{
    margin-top:15px;
}
.splashscreen{
    font-size:16px;
    padding:15px;
    border-top:2px solid #36afc9;
}

.splashscreenservicedescription{
    font-size:16px;
    padding:20px;
}
.titlefontweight{
    font-weight:800;
}
.subtitlefontweight{
    font-weight:600;
}
