.imagecontainer:hover{
 border: 1px solid #777;   
}
.gallery img {
  width: 240px;
  height: auto;
}

.desc {
  padding: 5px;
  text-align: center;
}

.fieldeditor{
    border:0px solid transparent;
    font-size:1em;
    text-align:center;
}

.fieldeditor:hover{
    border:0px solid transparent;
    font-size:1em;
    background-color:white;
}


.filterselected{
    cursor: default;
    background-color:#065089;
    padding:5px;
    color:white;
    width:150px;
    text-align:center;
    font-weight:bold;
    border-bottom: 1px solid #065089;
}

.filterunselected{
    padding:5px;
    width:150px;
    text-align:center;
    border-bottom: 1px solid #065089;
}

.filterunselected:hover{
     background-color:#0971c1;
    padding:5px;
    width:150px;
    text-align:center;
    border-bottom: 1px solid #065089;
    color:white;
    cursor: pointer;
}
