.image {
                    margin:auto;
                    position:relative;
                    page-break-inside: avoid;
                    width:306px;
                    max-height:100%;
                
                
                }
                .image .text {
                    position:absolute;
                    font-size: 85%;
                    font-weight:700;
                    color: red;
                    Bottom:5px; 
                    right:3px;
                    width:75px; 
                }
                
                .displaystyle1 .nx-template{
                    position:relative;
                    float:left;
                    page-break-inside: avoid;
                    width:50%;
                
                }
                
                
                .displaystyle2{
                    font-size:22px;
                    font-weight:700;
                    margin-left:10px;
                    margin-top:10px;
                    padding-bottom:20px;
                }
                
                
                @media screen {
                  div.divheader {
                    display: none;
                  }
                }
                @media print {
                  div.divheader {
                    position: fixed;
                    top:0;
                    
                  }
                }
