/* hide footer in table */
.hidetablefooter .nx-list-footer {	
    display:none;
}
.typed-cursor{
    opacity: 1;
    -webkit-animation: blink 0.7s infinite;
    -moz-animation: blink 0.7s infinite;
    animation: blink 0.7s infinite;
}
@keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-webkit-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-moz-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
/* XOMISSE START CSS FOR BUTTON  */
.blackbtn {
background-color: #38afcb; /* adds a background colour to the button */
color: #fff; /* changes the text colour */
cursor: pointer; /* changes the mouse on hover */
padding: 10px 30px; /* adds 10px of space to top and bottom of text and 30px of space on either side*/
}

.blackbtn:hover {
background-color: #fff; /* adds a background hover colour to the button */
color: #333; /* changes the text colour on hover */
}
/* XOMISSE END CSS FOR BUTTON */
.fa-check-circle {    
     margin-top:-1px;   
      padding-right:20px;  
}
.fa-check-circle:before {
    zoom:140%;
}
.fa-cloud-upload {    
     margin-top:-1px;  
       padding-right:20px;  
}
.fa-cloud-upload:before {
    zoom:140%;
}


.fa-list-ol {    
     margin-top:-1px;    
       padding-right:20px;  
}
.fa-list-ol:before {
    zoom:140%;
}
/* code that is here, until the first @media block, will apply to any screen size */
.buttonwidth {
  width: 100px ;
}
img { max-width: 100%; }
@media screen and (max-width: 320px) {
  /* comes into effect for screens less than or equal to 320 pixels */
  .buttonwidth {
    width: 40px ;
  }
  img { max-width: 100%; }
}
@media screen and (min-width: 321px) and (max-width: 480px) {
  /* comes into effect for screens between 321 and 480 pixels (inclusive) */
  .buttonwidth {
    width: 60px ;
  }
  img { max-width: 100%; }
}
@media screen and (min-width: 481px) {
  /* comes into effect for screens larger than or equal to 481 pixels */
  .buttonwidth {
    width: 90px ;
  }
  img { max-width: 100%; }
}

.subbuttonsize{
    font-size:89%;
}

@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    [class*="col-"] {
        width: 100%;
    }
}
