.warningtext{
    text-align:center;
    font-size:1.2em;
    font-weight:bold;
    color:red;
    margin:5px;
}

.linktext {
    text-transform: uppercase;
    color:#3B73AF;
}

.linktextcontainer{
    padding-left:15px;
    padding-top:5px;
}

.pagetitle{
    margin-left:20px;
    margin:10px;
    font-size:1.6em;
}

.sectiontitle{
    margin-left:5px;
    margin-bottom:10px;
    font-size:1.4em;
}

.subsectiontitle{
    margin-left:5px;
    margin-bottom:10px;
    font-size:1.2em;
}

.boldspan{
    font-weight:600;
}

.progressbar{
  text-align:center;
  display:inline-block;
  width:100%;
  background-color:grey;
  padding:1px;padding-top:4px;
  padding-bottom:4px;
  transform: skew(-20deg);
  color: white ;
  margin:1px;
}

.progressbartext{
    transform:skew(20deg);
}

#filled{
    background-color:#1f497d;
}

#unfilled{
    background-color:#c6d9f0;
    
    font-weight:bold;
}

.progresstext{
    text-align:center;
    font-size:0.9em;
    margin:10px;
}


.line {
  display: inline-block;
}
