.linktext{
color:#3B73AF;
text-transform: uppercase
}
.linktextcontainer{
    margin-left:15px;
    margin-top: 6px;
}

.mainheader{
    font-size:1.6em;
}
.mainheadercontainer{
    margin:5px;
    margin-left:20px;
}

.tabheader{
margin:3px;
font-size:1.5em;
}

.sectionheader{
margin:5px;
margin-top:15px;
font-size:1.3em;

}

.propertyphotocontainer{
margin-top:20px;
margin-right:10px;
min-width:10px;
}

.propertyphoto{
width:300px;
padding:4px;
border:1px solid #c6d9f0;
cursor: pointer;
}

.blanktext{
    font-style:italic;
    font-size:2;
}

.addresscontainer{
    text-align:center;
    margin-bottom:1em;
    margin-top:1em;
    cursor: pointer;
}

.addresscontainer:hover{
    color:#3B73AF;
    text-decoration:underline;
}

.addresscontainer .hiddentext{
    visibility:hidden;
    font-size:0em;
}

.addresscontainer:hover .hiddentext{
    visibility:visible;
    margin-bottom:0;
    font-size:1em;
}



.propertyprogresstext{
    text-align:center;
    font-size:12;
    margin:1em;
}

.navitembg{
    background-color:white;
    color:#1f497d;
    
}

.navitembg:hover{
    background-color:#1f497d;
    color:#0f243e;
    
}
